{"swagger":"2.0","securityDefinitions":{"auth_token":{"type":"apiKey","name":"auth_token","in":"header"}},"info":{"description":"# Buk Data Access API.\n\nTo use the API, you need to obtain an **API Key**.\nYou can manage access within the platform, in **Settings =\u003e API Access.**\n\nOnce an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.\n\n## For more details, you can review the article \"How to integrate with Buk through an API\"\n\n# Endpoints\n"},"tags":[{"name":"Períodos"},{"name":"Procesos"},{"name":"Empleados"},{"name":"Trabajos"},{"name":"Liquidaciones"},{"name":"Boletas de Pago"},{"name":"Vacaciones"},{"name":"Feriados"},{"name":"Beneficios"},{"name":"Personas"},{"name":"Ausencias"},{"name":"Inasistencias"},{"name":"Licencias"},{"name":"Permisos"},{"name":"Horas no trabajadas"},{"name":"Horas Extras"},{"name":"Cargos"},{"name":"Áreas"},{"name":"Empresas"},{"name":"Centralización contable"},{"name":"Estructuras contables"},{"name":"Ítems"},{"name":"KPIs"},{"name":"Suspensiones laborales"},{"name":"Centro de costo"},{"name":"Localidades"},{"name":"Sindicatos"},{"name":"Labores"},{"name":"Tarifas"},{"name":"Productos"},{"name":"Unidades"},{"name":"Lugares de Trabajo"},{"name":"Registros de Trabajo"},{"name":"Créditos"},{"name":"Días trabajados"},{"name":"Recintos"},{"name":"Evaluaciones"},{"name":"Suplencias"},{"name":"Sincronización datos de pago"},{"name":"Versiones"}],"host":"demo.buk.cl","basePath":"/api/v1/chile","consumes":["application/json"],"produces":["application/json","application/pdf"],"paths":{"/recruiting/applicants":{"post":{"summary":"Add applicant","description":"Create a new applicant.\n\nFor parameters with values in square brackets, choose 1. e.g. document_type\n\n**Permisos requeridos para utilizar este endpoint:** \n* Selection permissions en: 'Lectura y Modificación'.\n","tags":["Postulante"],"parameters":[{"name":"Applicant","in":"body","description":"Applicant parameters","required":true,"schema":{"title":"RequestBody","properties":{"applicant":{"$ref":"#/definitions/ApplicantInput"}}}}],"responses":{"201":{"description":"Applicant created.","schema":{"title":"ResponseBody","properties":{"applicant":{"$ref":"#/definitions/Applicant"}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/recruiting/applicants/search_by_email":{"post":{"summary":"Display Applicant","description":"Return the applicant by their ID or RUT.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Selection permissions en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Postulante"],"parameters":[{"name":"email","in":"body","description":"Applicant email","required":true,"schema":{"title":"RequestBody","properties":{"applicant":{"$ref":"#/definitions/SearchApplicantByEmail"}}}}],"responses":{"200":{"description":"Answer with the data of the queried applicant","schema":{"title":"ResponseBody","properties":{"applicant":{"$ref":"#/definitions/Applicant"}}}},"404":{"description":"Applicant not found","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/recruiting/applicants/{id}":{"get":{"summary":"Display Applicant","description":"Return the applicant by their ID or RUT.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Selection permissions en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Postulante"],"parameters":[{"name":"id","in":"path","description":"ID or RUT of the applicant being queried. RUT number must be provided without dots and can include or exclude the dash character.","required":true,"type":"string"}],"responses":{"200":{"description":"Answer with the data of the queried applicant","schema":{"title":"ResponseBody","properties":{"applicant":{"$ref":"#/definitions/Applicant"}}}},"404":{"description":"Applicant not found","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}},"patch":{"summary":"Update applicants.","description":"Update an applicant\n\n**Permisos requeridos para utilizar este endpoint:** \n* Selection permissions en: 'Lectura y Modificación'.\n\n","tags":["Applicant"],"parameters":[{"name":"id","in":"path","type":"string","description":"ID of the applicant being updated.","required":true,"items":{"type":"integer"}},{"name":"postulante","in":"body","description":"Applicant parameters.","required":true,"schema":{"$ref":"#/definitions/ApplicantInput"}}],"responses":{"200":{"description":"Applicant information updated.","schema":{"title":"ResponseBody","properties":{"applicant":{"$ref":"#/definitions/Applicant"}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}},"404":{"description":"The requested resource does not exist","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}}}}},"/recruiting/applicants/":{"get":{"summary":"Create Applicants","description":"Return the list of applicants\n\n**Permisos requeridos para utilizar este endpoint:** \n* Selection permissions en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Postulante"],"parameters":[{"name":"selection_processes[]","in":"query","type":"array","description":"(Optional) IDs of the selection processes to be queried. (Returns applicants if they are at least in one selection process)","collectionFormat":"multi","items":{"type":"integer"}},{"name":"page_size","in":"query","type":"integer","description":"(Optional) Number of responses per page. By default, it has a value of 25 and must be within a range of [25 - 100]"},{"name":"page","in":"query","type":"integer","description":"(OPTIONAL) Page number"}],"responses":{"200":{"description":"Response with the list of queried applicants","schema":{"title":"ResponseBody","properties":{"pagination":{"$ref":"#/definitions/Pagination"},"applicants":{"type":"array","items":{"$ref":"#/definitions/Applicant"}}}}},"404":{"description":"The requested resource does not exist  ","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/recruiting/applicants/{id}/applications":{"get":{"summary":"List applications by applicant","description":"Return all applications associated with the applicant, using their ID or RUT number.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Selection permissions en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Postulante"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","description":"ID or RUT of the applicant being queried. RUT number must be provided without dots and can include or exclude the dash character."},{"name":"page_size","in":"query","type":"integer","description":"(Optional) Number of responses per page. By default, it has a value of 25 and must be within a range of [25 - 100]"}],"responses":{"200":{"description":"As a response, an array (applications) is received with the information of the applications submitted by the queried applicant.","schema":{"title":"ResponseBody","properties":{"pagination":{"$ref":"#/definitions/Pagination"},"applications":{"type":"array","items":{"$ref":"#/definitions/ApplicationForApplicant"}}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/recruiting/applications":{"post":{"summary":"Add applications","description":"Create an application\n\n**Permisos requeridos para utilizar este endpoint:** \n* Selection permissions en: 'Lectura y Modificación'.\n\n","tags":["Application"],"parameters":[{"name":"application","in":"body","description":"Parameters of an application","required":true,"schema":{"title":"RequestBody","required":["application"],"properties":{"application":{"$ref":"#/definitions/ApplicationInput"}}}}],"responses":{"201":{"schema":{"title":"ResponseBody","properties":{"application":{"$ref":"#/definitions/Application"}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}},"404":{"description":"The requested resource does not exist","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}}}},"get":{"summary":"List the applications.","description":"Display application\n\n**Permisos requeridos para utilizar este endpoint:** \n* Selection permissions en: 'Lectura y Modificación'.\n\n","tags":["Application"],"parameters":[{"name":"selection_processes[]","in":"query","type":"array","description":"(Optional) IDs of the selection processes to be queried. (Returns applications if they are in at least one selection process)","collectionFormat":"multi","items":{"type":"integer"}},{"name":"application_date","in":"query","type":"string","format":"date","description":"(OPTIONAL) Indicate the date of application to be consulted (Format YYYYY-MM-DD)"},{"name":"page_size","in":"query","type":"integer","description":"(Optional) Number of responses per page. By default, it has a value of 25 and must be within a range of [25 - 100]."},{"name":"page","in":"query","type":"integer","description":"Page number"}],"responses":{"200":{"description":"A list of applications that meet the search criteria.","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/Application"}}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/recruiting/applications/{id}":{"patch":{"summary":"Update applications","description":"Update application\n\n**Permisos requeridos para utilizar este endpoint:** \n* Selection permissions en: 'Lectura y Modificación'.\n\n","tags":["Application"],"parameters":[{"name":"id","in":"path","type":"string","description":"ID of the application to be updated","required":true,"items":{"type":"integer"}},{"name":"postulacion","in":"body","description":"Parameters of an application","required":true,"schema":{"$ref":"#/definitions/ApplicationInput"}}],"responses":{"200":{"description":"Information of the updated application.","schema":{"title":"ResponseBody","properties":{"application":{"$ref":"#/definitions/Application"}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}},"404":{"description":"The requested resource does not exist","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}}}}},"/recruiting/selection_processes":{"get":{"summary":"List selection processes ","description":"It displays all selection processes in the system\n\n**Permisos requeridos para utilizar este endpoint:** \n* Selection permissions en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Selection process"],"parameters":[{"name":"page_size","in":"query","type":"integer","description":"(OPTIONAL) Number of answers per page. By default, it has a value of 25 and must be within a range of [25 - 100]."},{"name":"page","in":"query","type":"integer","description":"(OPTIONAL) Page number"},{"name":"from","in":"query","type":"string","format":"date","description":"(OPTIONAL) Search for selection processes starting from this date. If not specified, selection processes from the beginning are used. Format YYYY-MM-DD"},{"name":"to","in":"query","type":"string","format":"date","description":"(OPTIONAL) Search for selection processes up to this date. If not specified, selection processes up to the current date are used. Format YYYY-MM-DD"}],"responses":{"200":{"description":"As a response we receive an array (selection_processes) with the information of the selection processes","schema":{"title":"ResponseBody","properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/SelectionProcess"}}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}},"post":{"summary":"Selection Process","description":"Creates a new selection process based on the parameters provided. If a template_id is not specified, the default template is used.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Selection permissions en: 'Lectura y Modificación'.\n","tags":["Selection process"],"parameters":[{"name":"selection_process","in":"body","description":"Parameters of a selection process","required":true,"schema":{"title":"RequestBody","required":["selection_process"],"properties":{"selection_process":{"$ref":"#/definitions/SelectionProcessInput"}}}}],"responses":{"201":{"description":"API response to the creation of a selection process.","schema":{"title":"ResponseBody","properties":{"selection_process":{"$ref":"#/definitions/SelectionProcess"}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/talent/evaluation_processes":{"get":{"summary":"Show performance evaluations","description":"Provides the data of the available performance evaluations.\nEach performance evaluation has the following attributes:\n- id: Unique Id of the performance evaluation\n- name: name of performance evaluation\n- participants: number of participants added to performance evaluation\n- status: performance evaluation status\n- start_date: performance evaluation start date\n- end_date: performance evaluation end date\n- global_progress: percentage of completed forms \n- stages: stages set for performance evaluation\n\n**Permisos requeridos para utilizar este endpoint:** \n* Evaluation permissions en: 'Lectura'.\n","tags":["Evaluations"],"parameters":[{"name":"page_size","in":"query","type":"integer","description":"(OPTIONAL) Number of responses per page. By default, it has a value of 25 and must be within a range of [25 - 100]"},{"name":"page","in":"query","type":"integer","description":"(OPTIONAL) Page number"}],"responses":{"200":{"description":"As a response, we receive the existing performance evaluations.","schema":{"title":"ResponseBody","properties":{"pagination":{"$ref":"#/definitions/Pagination"},"evaluation_processes":{"$ref":"#/definitions/EvaluationProcess"}},"description":"As a response, we receive all the data related to the available performance evaluations."}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/talent/evaluation_process/{id}/results/capacities":{"get":{"summary":"Show the results of the Competency from a performance evaluation","description":"Displays the results related to the Competency from the queried performance evaluation.\nA result of Competency from a performance evaluation has the following attributes:\n- evaluation_id: Unique ID of the performance evaluation\n- evaluation_status: Status of the evaluated employee\n- evaluated_name: Name of the evaluated employee\n- evaluated_rut: RUT of the evaluated employee\nevaluated_document_number: Document Number of the evaluated employee\nevaluated_document_type: Type of Document of the evaluated\n- role: Job title of the evaluated employee\n- role_family: Job family of the evaluated employee\n- division: Division of the evaluated employee\n- area: Area of the evaluated employee\n- sub_area: Sub area of the evaluated employee\n- evaluation_type: Type of evaluation\n- evaluator_name: Name of the evaluator\n- evaluator_rut: RUT of the evaluator\nevaluator_document_number: Document Number of the evaluator\nevaluator_document_type: Type of Document of the evaluator\n- score_by_capacity: Score per Competency.\n- capacities_score: Competency Final score\n- score: Final evaluation score\n\n**Permisos requeridos para utilizar este endpoint:** \n* Evaluation permissions en: 'Lectura'.\n","tags":["Evaluations"],"parameters":[{"name":"id","in":"path","type":"integer","description":"ID of the performance evaluation to be queried","required":true},{"name":"page_size","in":"query","type":"integer","description":"(Optional) Number of responses per page. By default it has a value of 25 and must be within a range of [25 - 100]"},{"name":"page","in":"query","type":"integer","description":"(OPTIONAL) Page number"}],"responses":{"200":{"description":"As a response, we received the results related to the Competency of the performance evaluation.","schema":{"title":"ResponseBody","properties":{"pagination":{"$ref":"#/definitions/Pagination"},"evaluations":{"$ref":"#/definitions/Capacities"}},"description":"As a response, we received all the fields corresponding to the information of the queried performance evaluation."}},"404":{"description":"Performance evaluation not found","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/talent/evaluation_process/{id}/results/goals":{"get":{"summary":"Display the results of the Metas from a performance evaluation","description":"Provides results related to the Metas from the queried performance evaluation.\nA result of Metas from a performance evaluation has the following attributes:\n- evaluation_id: Unique ID of the performance evaluation\n- evaluation_status: Status of the evaluated employee\n- evaluated_name: Name of the evaluated employee\n- evaluated_rut: RUT of the evaluated employee\nevaluated_document_number: Document Number of the evaluated employee\nevaluated_document_type: Type of Document of the evaluated\n- role: Job title of the evaluated employee\n- role_family: Job family of the evaluated employee\n- division: Division of the evaluated employee\n- area: Area of the evaluated employee\n- sub_area: Sub area of the evaluated employee\n- evaluation_type: Type of evaluation\n- evaluator_name: Name of the evaluator\n- evaluator_rut: RUT of the evaluator\nevaluator_document_number: Document Number of the evaluator\nevaluator_document_type: Type of Document of the evaluator\n- score_by_goal: Score by Translation missing: en-cl.{custom_translations.models.talent/employee_goal.one\n- goals_score: Final score of Metas\n- score: Final evaluation score\n\n**Permisos requeridos para utilizar este endpoint:** \n* Evaluation permissions en: 'Lectura'.\n","tags":["Evaluations"],"parameters":[{"name":"id","in":"path","type":"integer","description":"ID of the performance evaluation to be queried","required":true},{"name":"page_size","in":"query","type":"integer","description":"(Optional) Number of responses per page. By default it has a value of 25 and must be within a range of [25 - 100]"},{"name":"page","in":"query","type":"integer","description":"(OPTIONAL) Page number"}],"responses":{"200":{"description":"As a response, we received the results related to the Metas of the performance evaluation.","schema":{"title":"ResponseBody","properties":{"pagination":{"$ref":"#/definitions/Pagination"},"evaluations":{"$ref":"#/definitions/Goals"}},"description":"As a response, we received all the fields corresponding to the information of the queried performance evaluation."}},"404":{"description":"Performance evaluation not found","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/training/sence_percents":{"get":{"summary":"Mostrar tramo sence de todos los empleados","description":"Retorna un listado con el id, rut y tramo sence de cada empleados del sistema que tenga una liquidación del mes abierto.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de capacitaciones en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Capacitaciones"],"parameters":[{"name":"page_size","in":"query","type":"integer","description":"Número de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"}],"responses":{"200":{"description":"Respuesta con el id, rut y porcentaje de tramo sence de cada empleados.","schema":{"title":"ResponseBody","properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/SencePercentIndex"}}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/training/sence_percents/{employee_id}":{"get":{"summary":"Mostrar el tramo sence de un empleados","description":"Recibimos la información específica del empleados cuya ID o RUT enviamos en la consulta\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de capacitaciones en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Capacitaciones"],"parameters":[{"name":"employee_id","in":"path","description":" ID o RUT sin puntos del empleados a consultar","required":true,"type":"string"}],"responses":{"200":{"description":"Retorna el porcentaje de tramo sence del empleados por medio del  ID o RUT.","schema":{"$ref":"#/definitions/SencePercent"}},"404":{"description":"empleados no encontrado","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/piecework/tasks":{"get":{"summary":"Listar labores","description":"'Retornar labores desde la fecha de creación dada'\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Labores"],"parameters":[{"name":"created_at","description":"(OPCIONAL) Fecha en que fue creada la labor en YYYY-MM-DD.","in":"query","type":"string","format":"date"},{"name":"page_size","type":"integer","in":"query","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]\n"}]},"post":{"summary":"Crear labores","description":"Crea un nuevo labor en el sistema. Los parámetros son:\n\n  - description : Descripción del labor.\n  - code : Código del labor.\n  - seventh_workday : Afecto a semana corrida.\n  - custom_attrs : Atributos personalizados para labores.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura y Modificación'.\n\n","tags":["Labores"],"parameters":[{"name":"Labor","description":"Objeto de tipo labor","in":"body","required":true,"schema":{"properties":{"task":{"$ref":"#/definitions/Piecework::Task::Request"}}}}]}},"/piecework/executions":{"get":{"summary":"Listar Tarifas","description":"'Retornar tarifas desde la fecha de creación dada'\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Tarifas"],"parameters":[{"name":"created_at","description":"(OPCIONAL) Fecha en que fue creada la tarifa en YYYY-MM-DD.","in":"query","type":"string","format":"date"},{"name":"page_size","type":"integer","in":"query","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]\n"}]},"post":{"summary":"Crear tarifa","description":"Crea una nueva tarifa en el sistema. Los parámetros son:\n\n- piecework_place_id : Id del lugar.\n- piecework_task_id : Id del labor.\n- piecework_unit_id : Id del unidad.\n- piecework_product_id: Id del producto.\n- formula : Valor de la tarifa, si la tarifa es simple no se requiere.\n- start_date : Fecha de inicio de la tarifa.\n- end_date: Fecha de finalización de la tarifa. OPCIONAL\n- type_rate : Tipo de tarifa, normal(0) o simple(1). Por defecto es 0.\n- monetary_floor : Se define piso de la tarifa de forma manual. Requerido si la tarifa es normal y no se tiene el calculo de piso por el sistema.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura y Modificación'.\n\n","tags":["Tarifas"],"parameters":[{"name":"Tarifa","description":"Objeto de tipo tarifa","in":"body","required":true,"schema":{"properties":{"execution":{"$ref":"#/definitions/Piecework::Execution::Request"}}}}]}},"/piecework/products":{"get":{"summary":"Listar Productos","description":"'Retornar Productos'\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Productos"],"parameters":[{"name":"page_size","type":"integer","in":"query","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]\n"}]},"post":{"summary":"Crear Productos","description":"Crea un nuevo Producto en el sistema. Los parámetros son:\n\n  - name : Nombre del Producto.\n  - code : Código del Producto.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura y Modificación'.\n\n","tags":["Productos"],"parameters":[{"name":"Producto","description":"Objeto de tipo Producto","in":"body","required":true,"schema":{"properties":{"product":{"$ref":"#/definitions/Piecework::Product::Request"}}}}]}},"/piecework/units":{"get":{"summary":"Listar Unidades","description":"'Retornar Unidades'\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Unidades"],"parameters":[{"name":"page_size","type":"integer","in":"query","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]\n"}]},"post":{"summary":"Crear Unidades","description":"Crea una nueva Unidad en el sistema. Los parámetros son:\n\n  - name : Nombre de la Unidad.\n  - code : Código de la Unidad.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura y Modificación'.\n\n","tags":["Unidades"],"parameters":[{"name":"Unidad","description":"Objeto de tipo Unidad","in":"body","required":true,"schema":{"properties":{"unit":{"$ref":"#/definitions/Piecework::Unit::Request"}}}}]}},"/piecework/places":{"get":{"summary":"Listar Lugares de Trabajo","description":"#\u003cProc:0x00007f2aae7eb8e8 /usr/src/app/packs/nomina/chile/piecework/app/controllers/api/v1/piecework/places_controller.rb:10 (lambda)\u003e\n","tags":["Lugares de Trabajo"],"parameters":[{"name":"empresa_id","description":{},"in":"query","type":"integer"},{"name":"page_size","type":"integer","in":"query","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]\n"}]},"post":{"summary":"Crear Lugares de Trabajo","description":"#\u003cProc:0x00007f2aae7ea948 /usr/src/app/packs/nomina/chile/piecework/app/controllers/api/v1/piecework/places_controller.rb:30 (lambda)\u003e\n","tags":["Lugares de Trabajo"],"parameters":[{"name":"Lugar de Trabajo","description":"Objeto de tipo Lugar de Trabajo","in":"body","required":true,"schema":{"properties":{"place":{"$ref":"#/definitions/Piecework::Place::Request"}}}}]}},"/piecework/worklogs":{"get":{"summary":"Listar Registros de Trabajo","description":"'Retornar Registros de Trabajo'\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Registros de Trabajo"],"parameters":[{"name":"employee_id","description":"(Opcional) ID del empleado asociado al Registro de Trabajo","in":"query","type":"integer"},{"name":"variable_id","description":"(Opcional) ID del periodo asociado al Registro de Trabajo","in":"query","type":"integer"},{"name":"empresa_id","description":{},"in":"query","type":"integer"},{"name":"area_id","description":"(Opcional) ID del área a la que pertenece el empleado asociado al Registro de Trabajo","in":"query","type":"integer"},{"name":"page_size","type":"integer","in":"query","description":"(Opcional) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]\n"}]},"post":{"summary":"Crear Registro de Trabajo","description":"Crea un nuevo Registro de Trabajo en el sistema. Los parámetros son:\n  - day: Fecha del trato en formato YYYY-MM-DD.\n  - employee_id: ID del empleado.\n  - monetary_floor: [integer] Se define piso de la tarifa de forma manual. Requerido si tratos simplificado y no se tiene el calculo de piso por el sistema.\n  - daily_base_floor: [boolean] Calcular piso del trato sin redondear (Opcional)\n  - overwrite_existing: [boolean] (Opcional)\n  - discount_day_amount: [boolean] (Opcional)\n  - calculate_total_pay: [boolean] (Opcional)\n  - sync_attendance: [integer] Posibles valores: 0 (no sincronizar), 1 (días trabajados), 2 (ausencias), 3 (días trabajados y ausencias).\n  - informative: [boolean] (Opcional) Si es que el trato es del tipo informativo y no se debe considerar en la liquidación, informative debe ser true. (Default: false)\n  - Worklogs: [array]\n    - production: (Opcional) Cantidad de unidades producidas.\n    - piecework_execution_id: ID de la tarifa.\n    - rate_value: (Opcional) Valor de la tarifa aplicada.\n    - total_pay: Valor que se pagará al empleado por este trato.\n    - work_type: Tipo de Trabajo. Posibles valores: 'ausencia', 'dia', 'trato', 'bono'.\n    - saved_in: Posibles valores: 'porcentaje', 'horas'.\n    - worked_units: Unidades trabajadas. Debe ser consistente con el atributo 'saved_in'.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura y Modificación'.\n\n","tags":["Registros de Trabajo"],"parameters":[{"name":"Registro de Trabajo","description":"Objeto de tipo Registro de Trabajo","in":"body","required":true,"schema":{"properties":{"daily_base_floor":{"type":"boolean","default":false},"discount_day_amount":{"type":"boolean","default":false},"calculate_total_pay":{"type":"boolean","default":false},"overwrite_existing":{"type":"boolean","default":false},"sync_attendance":{"type":"integer","default":0},"day":{"type":"string","default":"2022-01-01"},"employee_id":{"type":"integer","default":1},"monetary_floor":{"type":"integer","default":0},"informative":{"type":"boolean","default":false},"worklogs":{"type":"array","items":{"$ref":"#/definitions/Piecework::Worklog::Request"}}}}}]}},"/piecework/worklogs/{id}":{"patch":{"summary":"Editar un Registro de Trabajo","description":"Edita un Registro de Trabajo existente en el sistema. Los parámetros son:\n  - monetary_floor: [integer] Se define piso de la tarifa de forma manual. Requerido si tratos simplificado y no se tiene el calculo de piso por el sistema.\n  - daily_base_floor: [boolean] Calcular piso del trato sin redondear (Opcional)\n  - discount_day_amount: [boolean] (Opcional)\n  - calculate_total_pay: [boolean] (Opcional)\n  - sync_attendance: [integer] Posibles valores: 0 (no sincronizar), 1 (días trabajados), 2 (ausencias), 3 (días trabajados y ausencias).\n  - informative: [boolean] (Opcional) Si es que el trato es del tipo informativo y no se debe considerar en la liquidación, informative debe ser true. (Default: false)\n  - worklog [object]:\n    - day: Fecha del trato en formato YYYY-MM-DD.\n    - work_type: Tipo de Trabajo. Posibles valores: 'ausencia', 'dia', 'trato', 'bono'.\n    - worked_units: Unidades trabajadas. Debe ser consistente con el atributo 'saved_in'.\n    - production: Cantidad de unidades producidas.\n    - rate_value: Valor de la tarifa aplicada.\n    - total_pay: Valor que se pagará al empleado por este trato.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura y Modificación'.\n\n","tags":["Registros de Trabajo"],"parameters":[{"name":"id","in":"path","description":"ID del registro de trabajo a modificar.","required":true,"type":"integer"},{"name":"Registro de Trabajo","description":"Objeto de tipo Registro de Trabajo","in":"body","required":true,"schema":{"properties":{"daily_base_floor":{"type":"boolean","default":false},"discount_day_amount":{"type":"boolean","default":false},"calculate_total_pay":{"type":"boolean","default":false},"sync_attendance":{"type":"integer","default":0},"monetary_floor":{"type":"integer","default":0},"informative":{"type":"boolean","default":false},"worklog":{"$ref":"#/definitions/Piecework::Worklog::RequestPatch"}}}}]}},"/workflow/alta/processes":{"get":{"summary":"Obtain hiring processes flows","description":"Displays hiring processes requests of the Colaboradores.\n**Permisos requeridos para utilizar este endpoint:** \n* Workflow permissions en: 'Lectura'.\n","tags":["Workflows"],"parameters":[{"name":"status","in":"query","description":"(OPTIONAL) Request status. In Progress(1), Approved(2), Error(4), Canceled(5)","required":false,"type":"integer","enum":[1,2,4,5]},{"name":"creation_start_date","in":"query","description":"(OPCIONAL) Request creation date (From), in format YYYY-MM-DD","required":false,"type":"string","format":"date"},{"name":"creation_end_date","in":"query","description":"(OPTIONAL) Request creation date (To), in format YYYY-MM-DD","required":false,"type":"string","format":"date"},{"name":"page_size","in":"query","type":"integer","description":"(Optional) Number of responses per page. By default it has a value of 25 and must be within a range of [25 - 100]."},{"name":"page","in":"query","type":"integer","description":"(OPTIONAL) Page number"}],"responses":{"200":{"description":"Response with the data of the hiring processes flows.","name":"data","schema":{"title":"ResponseBody","properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/WorkflowProcessAlta"}}}}},"404":{"description":"No hiring processes flows found","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/process_periods":{"get":{"summary":"Listar períodos","description":"Retorna todos los períodos de la aplicación con sus datos y estado correspondiente.\n\nEste endpoint no requiere permisos especiales.\n\n","tags":["Períodos"],"parameters":[{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"}],"responses":{"200":{"description":"Como respuesta recibimos un arreglo (data) con todos los períodos de la aplicación","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/Variable"}}}}}}}},"/process":{"get":{"summary":"List processes","description":"Retrieve all processes corresponding to a period.\n\nEste endpoint no requiere permisos especiales.\n","tags":["Procesos"],"parameters":[{"name":"date","in":"query","type":"string","format":"date","required":true,"description":"Indicates the start date of the process to be consulted (YYYYY-MM-DD format)."},{"name":"page_size","in":"query","type":"integer","description":"Number of responses per page. By default it has a value of 25 and must be within a range of [25 - 100]."},{"name":"page","in":"query","type":"integer","description":"Page number"},{"name":"name","in":"query","type":"string","required":false,"description":"Nombre del proceso para filtrar los resultados"}],"responses":{"200":{"description":"Proceso encontrado exitosamente","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/Process"}}}}}}},"post":{"summary":"Crear un nuevo proceso de nómina","description":"Retrieve all processes corresponding to a period.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Process permissions en: 'Lectura y Modificación'.\n","tags":["Procesos"],"parameters":[{"name":"Process","in":"body","description":"Retrieve all processes corresponding to a period.","required":true,"schema":{"$ref":"#/definitions/processInput"}}],"responses":{"201":{"description":"Proceso creado exitosamente","schema":{"$ref":"#/definitions/Process"}}}}},"/process/{id}":{"get":{"summary":"Obtener detalles de un proceso","description":"Retorna la información detallada de un proceso específico por su ÍD\n\n**Permisos requeridos para utilizar este endpoint:** \n* Process permissions en: 'Lectura'.\n","tags":["Procesos"],"parameters":[{"name":"id","in":"path","type":"integer","required":true,"description":"ÍD del proceso a consultar"}],"responses":{"200":{"description":"Proceso encontrado exitosamente","schema":{"$ref":"#/definitions/Process"}}}},"delete":{"summary":"Eliminar proceso","description":"Elimina un proceso de tipo liquidación utilizando su identificador. Solo se pueden eliminar procesos de este tipo.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Process permissions en: 'Lectura y Modificación'.\n","tags":["Procesos"],"parameters":[{"name":"id","in":"path","type":"integer","required":true,"description":"Identificador del proceso a eliminar"}],"responses":{"200":{"description":"Proceso eliminado exitosamente"},"409":{"description":"No se puede eliminar el proceso. Solo se permiten eliminar procesos de tipo Liquidación"}}}},"/groups":{"get":{"summary":"List groups","description":"Returns the list of available groups\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura'.\n","tags":["Grupos"],"parameters":[{"name":"page_size","in":"query","type":"integer","description":"Cantidad de registros por página"},{"name":"page","in":"query","type":"integer","description":"Número de página"}],"responses":{"200":{"description":"List of groups","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/FilterQueryModel"}}}}}}}},"/groups/{id}":{"get":{"summary":"Show group","description":"Returns the information of a group and its participants\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura'.\n","tags":["Grupos"],"parameters":[{"name":"id","in":"path","description":"Group ID","required":true,"type":"integer"},{"name":"page_size","in":"query","type":"integer","description":"Cantidad de registros por página"},{"name":"page","in":"query","type":"integer","description":"Número de página"}],"responses":{"200":{"description":"Group information with its participants","name":"data","schema":{"properties":{"id":{"type":"integer","description":"Group ID"},"group_name":{"type":"string","description":"Group Name"},"updated_at":{"type":"string","format":"date-time","description":"Last update"},"pagination":{"$ref":"#/definitions/Pagination"},"participants":{"type":"array","items":{"$ref":"#/definitions/FilterQueryParticipant"}}}}}}}},"/employees":{"get":{"summary":"Display Translation missing: en-cl.{custom_translations.models.employee.other","description":"Provides information of all Colaboradores.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"status","in":"query","type":"string","description":"Status of the Colaborador. allowed values are: active, inactive, pending"},{"name":"document_numberdocument_number","in":"query","type":"string","description":"Document number"},{"name":"code_sheet","in":"query","type":"string","description":"Colaborador profile code"},{"name":"company_id","in":"query","type":"string","description":"ID of the Empresa"},{"name":"update_start_date","in":"query","type":"string","format":"date","description":"Update date. If the company_id attribute is used, it will validate the active job at that date to determine the information to display. If empty, the current date will be considered"},{"name":"custom_attr_job_name","in":"query","type":"string","description":"Name of the custom job attribute"},{"name":"custom_attr_job_value","in":"query","type":"string","description":"Value of the custom Job attribute (if more than one, separate them by ::, e.g. Value1::Value2)"},{"name":"email","in":"query","type":"string","description":"Work email of the Colaborador"},{"name":"code_recinto","in":"query","type":"string","description":"Code of the Recinto"},{"name":"page_size","in":"query","type":"integer","description":"Size of the page"},{"name":"page","in":"query","type":"integer","description":"Page number"},{"name":"sort","in":"query","type":"string","description":"Parameter to sort records, the only possible value is \"id\"; if not sent, it is sorted by name"}],"responses":{"200":{"description":"A list of Colaboradores that meet the search criteria.\n","schema":{"$ref":"#/definitions/EmployeeResponseCountry"}}}},"post":{"summary":"Create an Colaborador","description":"Stores information of the Colaboradores. If the active key with value true is not sent, it will be created as inactive. The \"code_sheet\" identifier is optional; it will be autogenerated if not sent and the person does not previously exist (personal data sent are not used by another Colaborador).\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"Employee","in":"body","description":"Employee type object","required":true,"schema":{"$ref":"#/definitions/Employee::Response::Minimal"}}],"responses":{"201":{"description":"Colaborador created.","schema":{"title":"ResponseBody","properties":{"employee":{"$ref":"#/definitions/EmployeeResponseCountry"}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{id}/clone":{"post":{"summary":"Create a new profile for an Translation missing: en-cl.{custom_translations.models.employee.one","description":"Allows creating a new record based on an existing one. This includes the details of each dependent family member. It receives the fields that will be different; the others will be copied from the reference record.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n\n**General requerida para utilizar este endpoint:** \n* Doble trabajo, valor: true.\n","parameters":[{"name":"id","in":"path","description":"ID of the Colaborador to be cloned.","required":true,"type":"string"},{"name":"Employee","in":"body","description":"Employee type object","required":true,"schema":{"$ref":"#/definitions/EmployeeInputCloneCountry"}}],"tags":["Colaboradores"],"responses":{"201":{"description":"Colaborador created.","schema":{"title":"ResponseBody","properties":{"employee":{"$ref":"#/definitions/EmployeeResponseCountry"}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/active":{"get":{"summary":"List Colaboradores","description":"Returns all the active Colaboradores in the system. An active Colaborador is a Colaborador with an active plan and job on the selected date.\u003cbr\u003e\u003cbr\u003e Optionally, it receives the date (in YYYY-MM-DD format) on which they must have an active contract as a parameter. If this parameter is not provided, today\\'s date from the open month in the application will be used.\u003cbr\u003e Additionally, it can receive an optional parameter to exclude Colaboradores who are pending.\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"RUT","in":"query","type":"string","description":"RUT"},{"name":"code_sheet","in":"query","type":"string","description":"Colaborador profile code"},{"name":"date","in":"query","type":"string","format":"date","description":"Date to evaluate if the Colaboradores have an active contract, in YYYY-MM-DD format. If not entered, today's date on the platform will be used by default"},{"name":"exclude_pending","in":"query","type":"boolean","description":"Excludes pending Colaboradores if this parameter is sent as `true`"},{"name":"page_size","in":"query","type":"integer","description":"(OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]."}],"responses":{"200":{"description":"As a response, we receive an array (data) with the information of the other Colaboradores'.\n","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/EmployeeResponseCountry"}}}}}}}},"/employees/{id}":{"get":{"summary":"Display Translation missing: en-cl.{custom_translations.models.employee.one","description":"We receive specific information of the Colaborador whose ID or RUT we sent in the search query.\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","description":"ID or Document Number of the Colaborador to query. If it is Document Number, it must not contain dots or hyphens.","required":true,"type":"string"}],"responses":{"200":{"description":"'As a response we receive all the fields corresponding to the information of the queried Colaborador'\n","schema":{"$ref":"#/definitions/EmployeeResponseCountry"}}}},"patch":{"summary":"Update Colaborador","description":"Update the information of the Colaborador.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","description":"ID or Document Number of the Colaborador to query. If it is Document Number, it must not contain dots or hyphens.","required":true,"type":"string"},{"name":"Employee","in":"body","description":"Employee type object","required":true,"schema":{"$ref":"#/definitions/EmployeeResponsePatch"}}],"responses":{"200":{"description":"Colaborador updated.","schema":{"title":"ResponseBody","properties":{"data":{"$ref":"#/definitions/Employee::Response"}}}}}}},"/employees/{id}/subordinates":{"get":{"summary":"Display Colaboradores subordinate to other Colaborador","description":"We receive a list of subordinate Colaboradores\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","description":"ID or Document Number of the Colaborador to query. If it is Document Number, it must not contain dots or hyphens.","required":true,"type":"string"},{"name":"date","in":"query","type":"string","format":"date","description":"Date to evaluate if subordinate Colaboradores have an active contract, in YYYY-MM-DD format. If not entered, today's date on the platform will be used by default."},{"name":"page_size","in":"query","type":"integer","description":"(OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]."}],"responses":{"200":{"description":"As a response, we receive an array (data) with the information of the other Colaboradores'.\n","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/MinimalEmployee"}}}}}}}},"/employees/{id}/vacations_available":{"get":{"summary":"Display number of days available for vacation","description":"We received the number of days.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Vacation permissions en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID or Document Number of the Colaborador to query. If it is Document Number, it must not contain dots or hyphens.","type":"string"},{"name":"discount","in":"query","description":"Deduct future vacation taken (true, false).","enum":[true,false],"type":"boolean"},{"name":"date","in":"query","type":"string","format":"date","description":"Date to calculate pending vacations (Format: DD-MM-YYYY); default is the last day of the open month"}],"responses":{"200":{"description":"‘As a response, we receive an array (data) with the information of the Colaborador and their vacations'\n","schema":{"$ref":"#/definitions/VacationsAvailable"}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{id}/earned_vacations":{"get":{"summary":"Show details of accrued vacation and proportional simulation","description":"Displays details of accrued vacations and proportional simulation up to a certain date.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Vacation permissions en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","description":"ID or Document Number of the Colaborador to query. If it is Document Number, it must not contain dots or hyphens.","required":true,"type":"string"},{"name":"date","in":"query","description":"Date to calculate accrued vacations and simulate proportionals (Format: DD-MM-YYYY); default is today\n","type":"string","format":"date"},{"name":"page","in":"query","type":"integer","description":"(OPTIONAL) Page for query"},{"name":"page_size","in":"query","type":"integer","description":"(OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]."}],"responses":{"200":{"description":"As a response, we receive an array (data) with information about accrued and proportional vacations of the Colaborador\n","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/EarnedVacations"}}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{employee_id}/family_responsibilities/{id}":{"get":{"summary":"Display Family Group of a Colaborador","description":"Returns information of a Family Group associated with a Colaborador.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura' o 'Lectura y Modificación'.\n\n**General requerida para utilizar este endpoint:** \n* Habilitar grupo familiar, valor: true.\n","tags":["Colaboradores"],"parameters":[{"name":"employee_id","in":"path","description":"ID of the Colaborador to be queried.","required":true,"type":"string"},{"name":"id","in":"path","description":"ID of the Family Group to query.","required":true,"type":"string"}],"responses":{"200":{"description":"Information of the Family Group associated with the Colaborador.","schema":{"properties":{"data":{"$ref":"#/definitions/EmployeeFamilyResponsibility"}}}},"404":{"description":"The requested resource does not exist","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}}}}},"/cargas/{id}":{"patch":{"summary":"Actualizar Grupo Familiar","description":"Actualizar Grupo Familiar existente y sus detalles asociados\n\nEn el caso de relation: Recibimos el tipo de relación a asignar, este puede ser un string de la siguiente lista:\n\n- Chile/Colombia/México: child, husband, father, mother, other\n- Perú: spouse, concubine, minor_child, student_adult_child, disability_adult_child, pregnant, son_or_daughter, mother, father, other\n- Brasil: spouse, partner_with_children_or_lived_five_years_or_stable_union, child_stepchild, child_stepchild_university_student_or_attending_high_school, sibling_grandson_greatgrandchild_without_support, sibling_grandson_greatgrandson_university_student_without_support, parents_grandparents_greatgrandparents, poor_minor, incapable_person, exspouse, others\n\n\ncustom_attributes no pueden ser actualizados a través de este endpoint\n\n\n","tags":["Grupo Familiar"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID del Grupo Familiar a actualizar","type":"integer"},{"name":"carga","in":"body","description":"Datos de Grupo Familiar a actualizar","required":true,"schema":{"type":"object","properties":{"carga":{"type":"object","properties":{"tramo_asignacion":{"type":"string"},"carga_simple":{"type":"integer"},"carga_maternal":{"type":"integer"},"carga_invalida":{"type":"integer"},"start_date":{"type":"string","format":"date"},"end_date":{"type":"string","format":"date"},"detalle_cargas_attributes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"first_name":{"type":"string"},"first_surname":{"type":"string"},"second_surname":{"type":"string"},"relation":{"type":"string"},"birthday":{"type":"string","format":"date"},"gender":{"type":"string"},"rut":{"type":"string"}}}}}}}}}],"responses":{"200":{"description":"Actualización de Grupo Familiar exitosa","schema":{"type":"object","properties":{"message":{"type":"string","description":"Mensaje de confirmación"},"carga":{"type":"object","properties":{"id":{"type":"integer"},"family_allowance_section":{"type":"string"},"simple_family_responsability":{"type":"integer"},"maternity_family_responsability":{"type":"integer"},"invalid_family_responsability":{"type":"integer"},"start_date":{"type":"string","format":"date"},"end_date":{"type":"string","format":"date"},"responsability_details":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"first_name":{"type":"string"},"relation":{"type":"string"},"birthday":{"type":"string","format":"date"}}}}}}}}},"422":{"description":"Error de validación","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"404":{"description":"Grupo Familiar no encontrado"}}}},"/jobs/{id}/termination":{"get":{"summary":"Obtain termination process","description":"Obtain termination process using the job ID.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura'.\n* Allow viewing sensitive information en: 'Sí'.\n","tags":["Termination processes"],"parameters":[{"name":"id","in":"path","type":"string","required":true,"description":"Job ID"}],"responses":{"200":{"description":"As a response we receive an object of type termination process","schema":{"properties":{"data":{"$ref":"#/definitions/Finiquito"}}}},"404":{"description":"The requested resource does not exist","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}}}},"post":{"summary":"Create Termination process","description":"Create a Termination process using an ID from Job and the data from Termination process.\n\nreason must be one of the following values: mutuo_acuerdo, renuncia, muerte, vencimiento_plazo, fin_servicio, :caso_fortuito, falta_probidad, acoso_sexual, vias_de_hecho, injurias, conducta_inmoral, acoso_laboral, negociaciones_prohibidas, no_concurrencia, abandonar_trabajo, faltas_seguridad, perjuicio_material, incumplimiento, necesidades_empresa, desahucio_gerente\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n","tags":["Termination processes"],"parameters":[{"description":"Job ID","name":"id","in":"path","type":"string","required":true},{"name":"Termination process","in":"body","description":"Parameters of Termination process","required":true,"schema":{"$ref":"#/definitions/FiniquitoInputCountry"}}],"responses":{"201":{"description":"Object of type Termination process","schema":{"properties":{"data":{"$ref":"#/definitions/Finiquito"}}}}}}},"/employees/{id}/pension_savings":{"get":{"summary":"View pension savings","description":"Obtain pension savings using the ID of an Colaborador\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura'.\n* Item permissions en: 'Lectura'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","type":"string","required":true,"description":"Colaborador ID"},{"name":"date","in":"query","type":"string","format":"date","description":"Filter the pension savings that are current for this date"}],"responses":{"200":{"description":"As a response, we receive a list of objects of pension savings type","schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/PensionSaving"}}}}},"404":{"description":"The requested resource does not exist","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}}}}},"/users":{"get":{"summary":"Show users","description":"Delivers the information of all users.\n\n**Permisos requeridos para utilizar este endpoint:** \n* User and profile permissions en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Users and profiles"],"parameters":[{"name":"name","in":"query","type":"string","description":"Name"},{"name":"email","in":"query","type":"string","description":"Email"},{"name":"person_id","in":"query","type":"integer","description":"Employee ID (Found in the employee endpoint)"},{"name":"permission_role_id","in":"query","type":"integer","description":"Profile ID"},{"name":"limit_areas","in":"query","type":"boolean","enum":[true,false],"description":"Limited by areas?"},{"name":"limit_realms","in":"query","type":"boolean","enum":[true,false],"description":"Limited by Data set?"},{"name":"realm_name","in":"query","type":"boolean","enum":[true,false],"description":"Name of the data set"},{"name":"limited_by_area_id","in":"query","type":"integer","description":"ID of the Area for which the users are limited"},{"name":"activated","in":"query","type":"boolean","enum":[true,false],"description":"Active user?"},{"name":"rol_visible","in":"query","type":"string","enum":["ve_publico","ve_privado","ve_ambos"],"description":"Role Limits"}],"responses":{"200":{"description":"A list of users that meet the search criteria","schema":{"$ref":"#/definitions/User"}}}},"post":{"summary":"Create users","description":"Create a user and send an invitation to them #magic___^_^___line Each record consists of: - person_id:\n\n ID of the person to relate to the user (If this parameter is sent, the person's name and corporate email is used).\n\n  It can be found in the Colaboradores api.\n\n\n- name: User’s name - email: User's email (If person_id is sent, it uses the person's email if they have one) - activated: Determines whether the user can log in to the application - area_ids: List of area IDs to limit the user - limit_areas: Whether the user will be limited by areas or not - permission_role_id: ID of the profile to be assigned to the user.\n\n  (If this field is left empty, the user will have a Normal Profile).\n\n\n(Only available if General parameters 'Enable Data Sets' is active) - realm_ids: List of Data set IDs to limit - limit_realms: If the user is limited by data set\n(Only available if the general parameters 'Enable Private Role' is active) - visible_role: Allows to limit whether the user can view private, public or both profiles (view_public, view_private, ve_both).\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* User and profile permissions en: 'Lectura y Modificación'.\n","tags":["Users and profiles"],"parameters":[{"name":"User","in":"body","description":"User type object","required":true,"schema":{"$ref":"#/definitions/User"}}],"responses":{"201":{"description":"User created.","schema":{"title":"ResponseBody","properties":{"user":{"$ref":"#/definitions/User"}}}}}}},"/users/{id}":{"get":{"summary":"Show user","description":"Delivers a user's information.\n\n**Permisos requeridos para utilizar este endpoint:** \n* User and profile permissions en: 'Lectura' o 'Lectura y Modificación'.\n","parameters":[{"name":"id","in":"path","description":"User ID","required":true,"type":"string"}],"tags":["Users and profiles"],"responses":{"200":{"description":"A user with the corresponding ID","schema":{"$ref":"#/definitions/User"}}}},"put":{"summary":"Edit user","description":"Edit a user\nThe fields that we can edit are the following (It is not necessary to send the fields that are not going to be modified): - person_id: ID of the person to relate to the user (If this parameter is sent, the person's name and corporate email is used).\n\n  It can be found in the Colaboradores api.\n\n\n- name: User’s name - email: User's email (If person_id is sent, it uses the person's email if available) - area_ids: List of area ids to limit the user - activated: Determines whether the user can log in to the application - limit_areas: Whether the user will be limited by areas or not - permission_role_id: ID of the profile to be assigned to the user.\n\n  (If this field is left empty, the user will have a Normal Profile).\n\n\n(Only available if General parameters 'Enable Data Sets' is active) - realm_ids: List of Data set IDs to limit - limit_realms: If the user is limited by data set\n(Only available if the general parameters 'Enable Private Role' is active) - visible_role: Allows to limit whether the user can view private, public or both profiles (view_public, view_private, ve_both).\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* User and profile permissions en: 'Lectura y Modificación'.\n","tags":["Users and profiles"],"parameters":[{"name":"id","in":"path","description":"ID of the user to edit","required":true,"type":"string"},{"name":"User","in":"body","description_user":"User type object","required":true,"schema":{"$ref":"#/definitions/User"}}],"responses":{"200":{"description":"User edited.","schema":{"title":"ResponseBody","properties":{"user":{"$ref":"#/definitions/User"}}}}}}},"/permission_roles":{"get":{"summary":"Mostrar Perfiles","description":"Entrega la información de todos los perfiles disponibles.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de usuarios y perfiles en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Usuarios y perfiles"],"parameters":[{"name":"id","in":"query","type":"integer","description":"ID del perfil"},{"name":"name","in":"query","type":"string","description":"Nombre"}],"responses":{"200":{"description":"Una lista de perfiles que cumplan con el criterio de búsqueda.","schema":{"$ref":"#/definitions/PermissionRole"}}}}},"/employees/{id}/plans":{"get":{"summary":"Display an employee's plans","description":"Displays the information of the plans associated to a Colaborador.\n(endpoint not implemented for Mexico)\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","description":"ID of the Colaborador to be queried.","required":true,"type":"string"}],"responses":{"200":{"description":"An array (data) with the information of the plans associated to the Colaborador.","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/PlanResponseCountry"}}}}}}},"post":{"summary":"Add a plan to an employee","description":"Creates a new plan for the Colaborador in the system\n(endpoint not implemented for Mexico)\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","description":"ID of the Colaborador to be queried.","required":true,"type":"string"},{"name":"Plan","in":"body","description":"Plan type object","required":true,"schema":{"$ref":"#/definitions/PlanInputCountry"}}],"responses":{"201":{"description":"As a response, we receive an array (data) with the information of the created plan","schema":{"properties":{"data":{"$ref":"#/definitions/PlanResponseCountry"}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{employee_id}/plans/{id}":{"get":{"summary":"Display an employee's plan","description":"Retorna la información de un plan asociado a un Colaborador.\n(endpoint not implemented for Mexico)\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura'.\n","tags":["Colaboradores"],"parameters":[{"name":"employee_id","in":"path","description":"ID del Colaborador a consultar.","required":true,"type":"string"},{"name":"id","in":"path","description":"ID del plan a consultar.","required":true,"type":"string"}],"responses":{"200":{"description":"La información del plan asociado al Colaborador.","schema":{"properties":{"data":{"$ref":"#/definitions/PlanResponseCountry"}}}}}},"patch":{"summary":"Update a plan to an employee","description":"Update a plan associated with a Colaborador in the system\n\n(endpoint not implemented for Mexico)\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"employee_id","in":"path","description":"ID of the Colaborador to be updated.","required":true,"type":"string"},{"name":"id","in":"path","description":"ID of the plan to be updated.","required":true,"type":"string"},{"name":"Plan","in":"body","description":"Plan type object","required":true,"schema":{"$ref":"#/definitions/PlanInputCountry"}}],"responses":{"201":{"description":"As a response, we receive an array (data) with the information of the updated plans","schema":{"properties":{"data":{"$ref":"#/definitions/PlanResponseCountry"}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{id}/jobs":{"get":{"summary":"Display jobs of a Colaborador","description":"Displays the job information associated with a Colaborador.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","description":"ID of the Colaborador to be queried.","required":true,"type":"string"}],"responses":{"200":{"description":"An array (data) with the information of the jobs associated to the Colaborador.","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/JobResponseCountry"}}}}}}},"post":{"summary":"Add a job to Colaborador","description":"Creates a new job for the Colaborador in the system\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","description":"ID of the Colaborador to be queried.","required":true,"type":"string"},{"name":"Job","in":"body","description":"Job type object","required":true,"schema":{"$ref":"#/definitions/JobInputCountryPost"}}],"responses":{"201":{"description":"As a response, we receive an array (data) with the information of the created job","schema":{"properties":{"data":{"$ref":"#/definitions/JobResponseCountry"}}}},"409":{"description":"Records are being updated concurrently.","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{employee_id}/jobs/{id}":{"patch":{"summary":"Update a job for a Colaborador","description":"Creates a new job for the Colaborador in the system\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"employee_id","in":"path","description":"ID of the Colaborador to be updated.","required":true,"type":"string"},{"name":"id","in":"path","description":"ID of the job to be updated.","required":true,"type":"string"},{"name":"Job","in":"body","description":"Job type object","required":true,"schema":{"$ref":"#/definitions/JobInputCountry"}}],"responses":{"201":{"description":"As a response, we receive an array (data) with the information of the updated job","schema":{"properties":{"data":{"$ref":"#/definitions/JobResponseCountry"}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/jobs/{id}/terminate":{"patch":{"summary":"Complete the job with the given ID.","description":"\nComplete the job from the given ID. Requires end date and the reasons for the employment termination (unless it is an \t\nservice provision contract). The parameters are:\n- end_date: End date of the job.\n- termination_reason: The reason for the employment termination The accepted reasons are:\n\n\"Chile: [\"mutuo_acuerdo\", \"renuncia\", \"muerte\", \"vencimiento_plazo\", \"fin_servicio\", \"caso_fortuito\", \"falta_probidad\", \"acoso_sexual\", \"vias_de_hecho\", \"injurias\", \"conducta_inmoral\", \"acoso_laboral\", \"negociaciones_prohibidas\", \"no_concurrencia\", \"abandonar_trabajo\", \"faltas_seguridad\", \"perjuicio_material\", \"incumplimiento\", \"necesidades_empresa\", \"desahucio_gerente\"]\"\n\n\"Peru: [\"renuncia\", \"renuncia_con_incentivos\", \"despido\", \"cese_colectivo\", \"jubilacion\", \"invalidez_absoluta_permanente\", \"terminacion_de_la_obra\", \"mutuo_disenso\", \"fallecimiento\", \"sucesion_en_posicion_empleador\", \"extincion_o_liquidacion_empleador\", \"no_se_inicio_relacion_laboral\", \"limite_edad\", \"injustificado\"]\"\n\n\"Mexico: [\"renuncia_voluntaria\", \"muerte\", \"causa_imputable_patron\", \"despido_injustificado\", \"despido_justificado\", \"terminacion_natural\", \"incapacidad_permanente\", \"invalidez_trabajador\", \"reajuste_maquina\", \"clausura\", \"abandono_empleo\", \"ausentismo\", \"jubilacion\", \"otras\"]\"\n\n\"Colombia: [\"renuncia_voluntaria\", \"causa_justa_empleador\", \"termino_mutuo_acuerdo\", \"vencimiento_plazo\", \"termino_obra\", \"termino_sentencia\", \"muerte\", \"termino_abandono\", \"sustitucion_patronal\", \"abandono_cargo\", \"decision_unilateral\"]\"\n\n- comment: Internal comment on the job termination (OPTIONAL).\n- employee_final_state: Final status of Colaborador, by default is inactive: [\"pending\", \"inactive\"] (OPTIONAL)\n- notice_date: Fecha de aviso de término de trabajo en YYYY-MM-DD, en caso de no agregar este campo se considerará el end_date. (OPCIONAL)\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n","tags":["Jobs"],"parameters":[{"name":"id","in":"path","type":"integer","description":"ID of the work to be completed."},{"name":"Job","in":"body","description":"Updated Job object.","required":true,"schema":{"$ref":"#/definitions/JobTerminateInput"}}],"responses":{"200":{"description":"As a response, the Colaborador job is received and successfully completed.","schema":{"properties":{"data":{"$ref":"#/definitions/JobResponseCountry"}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{employee_id}/jobs/{job_id}/cost_centers":{"patch":{"summary":"Update the cost center in a job for a Colaborador","description":"The cost centers of a job are replaced, i.e., existing ones are deleted and new ones are added.\n\n\n\nRemember that the weights must sum up to 100.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"employee_id","in":"path","type":"integer"},{"name":"job_id","in":"path","type":"integer"},{"name":"cost center","in":"body","required":true,"schema":{"properties":{"cost_centers_attributes":{"type":"array","items":{"properties":{"weight":{"type":"number","description":"Weight"},"cost_center":{"type":"string","description":"Cost Center"}}}}}}}],"responses":{"201":{"description":"As a response, the information of the updated job cost centers is received.","schema":{"properties":{"data":{"properties":{"job_id":{"type":"integer"},"employee_id":{"type":"integer"},"cost_center":{"type":"string"},"cost_centers":{"$ref":"#/definitions/CostCenterModel"}}}}}}}}},"/jobs/{id}/undo":{"post":{"summary":"Undo the last move and return to the previous job.","description":"Undo the last move and return to the previous job.\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n","tags":["Jobs"],"parameters":[{"name":"id","in":"path","description":"ID of the job to be queried.","required":true,"type":"string"}],"responses":{"201":{"description":"As a response, we received the information about the restored job","schema":{"properties":{"data":{"$ref":"#/definitions/JobResponseCountry"}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/jobs/{id}/undo_terminate":{"patch":{"summary":"Termination cancelation","description":"Cancels the termination of a job.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n","tags":["Jobs"],"parameters":[{"name":"id","in":"path","description":"ID of the job to be canceled.","required":true,"type":"string"}],"responses":{"200":{"description":"As a response, we received the information about the restored job","schema":{"properties":{"data":{"$ref":"#/definitions/JobResponseCountry"}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{id}/docs":{"post":{"summary":"Add a document to employee","description":"We receive a document, which will be related to the employee.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permissions to upload documents en: 'Sí'.\n","tags":["Colaboradores","Documents"],"parameters":[{"name":"id","in":"path","type":"integer","required":true,"description":"ID of the employee to be queried."},{"name":"file","in":"formData","description":"Document to be uploaded.","required":false,"type":"file"},{"name":"file_base64","in":"formData","description":"Document (base64 encoded) to be uploaded.\n\nAn object composed of the following attributes must be sent as JSON:\n- content: Base64 encoded content.\n- filename: Name that the uploaded document will have along with the extension (e.g. filename.pdf).\n","required":false,"schema":{"type":"object","$ref":"#/definitions/EmployeeFileBase64"}},{"name":"visible","in":"query","type":"boolean","enum":[true,false],"description":"Visible to the employee. Default: false"},{"name":"signable_by_employee","in":"query","type":"boolean","enum":[true,false],"description":"Requires employee signature. Default: false"},{"name":"signable_by_legal_agent","in":"query","type":"boolean","enum":[true,false],"description":"Requires the signature of the legal representative. Default: false"},{"name":"signable_by_second_legal_agent","in":"query","type":"boolean","enum":[true,false],"description":"Requires the signature of a second legal representative. Default: false"},{"name":"overwrite","in":"query","type":"boolean","enum":[true,false],"description":"Overwrite file. Applies only to documents that do not have all required signatures. Default: false"},{"name":"start_signature_workflow","in":"query","type":"boolean","enum":[true,false],"description":"Start automatic signature flow The document must be visible and must have signature or review requirements to select this option. Default: false"},{"name":"path","in":"query","description":"Path where the file will be saved. If left blank it will be created in the employee's root folder. Example: personal/security","required":false,"type":"string"},{"name":"signatures","in":"query","description":"Array of objects of signature type. It is an optional parameter. If this parameter is used, the other parameters related to the signature will not be taken into account.","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/DocumentSignature"}}},{"name":"reviewer_id","in":"query","description":"Person's ID of the reviewer. This is an optional parameter, if you do not want to assign a reviewer, leave this field empty","required":false,"type":"integer"}],"consumes":["multipart/form-data"],"responses":{"201":{"description":"API response after creating documents.","schema":{"properties":{"employee_id":{"type":"integer"},"employee_file":{"$ref":"#/definitions/EmployeeFileDetail"}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}},"get":{"summary":"Obtain employee documents","description":"Information is obtained from the employee's documents according to the date filters entered\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permissions to View and download employee documents en: 'Sí'.\n","tags":["Colaboradores","Documents"],"parameters":[{"name":"id","in":"path","type":"integer","required":true,"description":"ID of the employee to be queried."},{"name":"from","in":"query","type":"string","format":"date","description":"From - Date range of document creation. Example: 2020/12/10"},{"name":"to","in":"query","type":"string","format":"date","description":"To - Date range of document creation. Example 2020/12/11"}],"responses":{"200":{"description":"As a response, we receive an array with the employee's documents","schema":{"type":"array","items":{"$ref":"#/definitions/EmployeeFileListDetail"}}}}}},"/employees/{id}/docs/{file_id}":{"get":{"summary":"Obtains an employee document","description":"The possible file IDs are in the GET `/employees/{id}/docs` endpoint.\n\nThe redirection for the entered document of file_id is returned, hence it must be followed.\n\n* To follow the redirection, add the ‘-L’ option.\n* To save the response in a file, add the ‘-o’ option and pass the file name.\n\n**Example**\n````curl -L -X GET --header 'Accept: */*' --header 'auth_token: [AUTH TOKEN]' 'http://www.[COMPANY SUBDOMAIN].buk.cl/api/v1/employees/1/docs/1156' -o [FILE NAME]````\n\nTest with ‘curl’, the Try It button does not work for documents.\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permissions to View and download employee documents en: 'Sí'.\n","tags":["Colaboradores","Documents"],"parameters":[{"name":"id","in":"path","description":"Employee ID","required":true,"type":"string"},{"name":"file_id","in":"path","description":"Document ID","required":true,"type":"string"}],"responses":{"200":{"description":"As a response, we received an employee document","schema":{"$ref":"#/definitions/EmployeeFileDetail"}}}}},"/docs/{id}":{"get":{"tags":["Colaboradores","Documents"],"summary":"Obtain document detailed information","description":"Receives the ID of a document and provides the specifications associated with that document.\n**Permisos requeridos para utilizar este endpoint:** \n* Permissions to View and download employee documents en: 'Sí'.\n","parameters":[{"name":"id","in":"path","description":"Document ID","type":"integer","required":true}],"responses":{"200":{"description":"As a response, we received an employee document","schema":{"properties":{"employee_id":{"type":"integer"},"employee_file":{"$ref":"#/definitions/EmployeeFileDetail"}}}}}}},"/docs/{id}/signatures/process":{"post":{"summary":"Start document signature workflow","tags":["Documents"],"description":"We receive a document ID, and the signature process begins. If the document had already started the signature process, an error with status 409 is displayed.\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permissions to upload documents en: 'Sí'.\n","parameters":[{"name":"id","in":"path","description":"Document ID","required":true,"type":"integer"}]}},"/docs/{id}/signatures":{"put":{"summary":"Add signers to a document","description":"We receive the signatures or reviewer to be assigned. Changes will only be made to parameters that are submitted.\n- In the case of signatures:\n\n  We receive the type of signature to assign, this can be a string from the following list:\n  - employee_signature\n  - legal_agent_signature\n  - second_legal_agent_signature\n  - supervisor_signature\n  - other_signature\n  - second_other_signature    \n\n  Along with a valid person id with a user. In case of choosing the type of signature legal_agent_signature\n  or second_legal_agent_signature, the person ID must be of a legal representative configured. If choosing the type of signature employee_signature or supervisor_signature, it's not necessary to add the person ID.\n\n  If you want to add an order to the signatures, you should add the attribute \"position\" within each signature. Where you must indicate the order of the signatures to assign with numerical values from 1 up to the number of signatures, these values cannot be repeated. If you do not want an order for the signatures, do not send the \"position\" attribute.\n  \n  To remove the signatures from a document, you must send an empty list.\n\n- In the case of the reviewer:\n\n  We receive the person ID of the reviewer. To be valid, it must have an active user and at least one active job. To remove a reviewer, you must send null in the field.\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permissions to View and download employee documents en: 'Sí'.\n\nIf you are reassigning a signer to a document generated from a template, the template will not be modified. The reassignment will apply only to the selected document and it will be reloaded with the current content of the template.\n","tags":["Documents"],"parameters":[{"name":"id","in":"path","description":"Document ID","required":true,"type":"integer"},{"name":"Signature specifications","in":"body","description":"Signature specification object","required":true,"schema":{"$ref":"#/definitions/Signature"}}],"responses":{"201":{"description":"As a response we received the information of the signatures and the document reviewer.","schema":{"properties":{"employee_file_id":{"$ref":"#/definitions/Signature"}}}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/payroll_detail/month":{"get":{"summary":"List Pay stubs","description":"Displays all Pay stubs for the specified month.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura' o 'Lectura y Modificación'.\n* Allow viewing sensitive information en: 'Sí'.\n\n","tags":["Pay stubs"],"parameters":[{"name":"date","in":"query","type":"string","format":"date","description":"The date on which to extract the Pay stubs from the Colaboradores (Format DD-MM-YYYY)"},{"name":"page_size","in":"query","type":"integer","description":"(OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]"}],"responses":{"200":{"description":"As a response, we receive all the details of the Pay stubs for the queried month","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/Settlement"}}}}}}}},"/payroll_detail/semi_month":{"get":{"summary":"List Pay stubs","description":"It displays all the Pay stubs for the specified semi-monthly period.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura' o 'Lectura y Modificación'.\n* Allow viewing sensitive information en: 'Sí'.\n\n","tags":["Pay stubs"],"parameters":[{"name":"date","in":"query","type":"string","format":"date","description":"The date on which to extract the Pay stubs from the Colaboradores (Format DD-MM-YYYY)"},{"name":"page_size","in":"query","type":"integer","description":"(OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]"}],"responses":{"200":{"description":"As a response, we receive all the details of the Pay stubs for the semi-monthly period queried","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/Settlement"}}}}}}}},"/payroll_detail/week":{"get":{"summary":"List Pay stubs","description":"It displays all Pay stubs of the specified week.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura' o 'Lectura y Modificación'.\n* Allow viewing sensitive information en: 'Sí'.\n\n","tags":["Pay stubs"],"parameters":[{"name":"date","in":"query","type":"string","format":"date","description":"The date on which to extract the Pay stubs from the Colaboradores (Format DD-MM-YYYY)"},{"name":"page_size","in":"query","type":"integer","description":"(OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]"}],"responses":{"200":{"description":"As a response, we receive all the details of the Pay stubs for the week queried","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/Settlement"}}}}}}}},"/employees/{employee_id}/payroll_detail":{"get":{"summary":"Show details of the Colaborador","description":"We receive the ID or RUT of the Colaborador and an optional date range\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura' o 'Lectura y Modificación'.\n* Allow viewing sensitive information en: 'Sí'.\n\n","tags":["Pay stubs"],"parameters":[{"name":"employee_id","in":"path","type":"string","description":"ID or RUT of the applicant being queried. RUT number must be provided without dots and can include or exclude the dash character.","required":true},{"name":"period_type","in":"query","type":"string","format":"date","description":"The type of period you want to query can be weekly, semi_monthly o monthly. It is monthly by default."},{"name":"start","in":"query","type":"string","format":"date","description":"Pay stub start date (DD-MM-YYYYY format)"},{"name":"end","in":"query","type":"string","format":"date","description":"Pay stub end date (DD-MM-YYYYY format)"},{"name":"page_size","in":"query","type":"integer","description":"(OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]"}],"responses":{"200":{"description":"As a response, we receive all the details of the queried Colaborador","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"nationality":{"type":"string"},"civil_status":{"type":"string"},"private_role":{"type":"boolean"},"code_sheet":{"type":"string"},"pension_regime":{"type":"string"},"pension_fund":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/definitions/Settlement"}}}}}}}},"/employees/{id}/statements/{year}-{month}.pdf":{"get":{"summary":"Pay stub file","description":"Obtain the PDF file of the Pay stub of the Colaborador associated with a given month and year.\nObtains the PDF file of the Pay stub of the Colaborador associated with a given month and year.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura' o 'Lectura y Modificación'.\n* Allow viewing sensitive information en: 'Sí'.\n","tags":["Pay stubs"],"parameters":[{"name":"id","in":"path","type":"integer","description":"ID of the Colaborador","required":true},{"name":"year","in":"path","type":"integer","description":"Queried Year","required":true},{"name":"month","in":"path","type":"integer","description":"Queried Month (1 - 12)","required":true}],"responses":{"200":{"description":"Displays the PDF information of the corresponding Pay stub for the month.\""},"400":{"description":"The request sent does not respect the proper format","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"404":{"description":"There is no information for the month and year entered","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}}}}},"/vacations":{"get":{"summary":"Listar vacaciones","description":"Retorna todas las vacaciones aprobadas en el sistema, como parámetro (opcional) recibe la fecha (en formato YYYY-MM-DD) de inicio de las vacaciones.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de vacaciones en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Vacaciones"],"parameters":[{"name":"date","in":"query","type":"string","format":"date","description":"(OPCIONAL) La fecha en la cual deben iniciar las vacaciones en YYYY-MM-DD"},{"name":"end_date","in":"query","type":"string","format":"date","description":"(OPCIONAL) Busca las vacaciones que empezaron antes de una fecha en YYYY-MM-DD"},{"name":"end_after","in":"query","type":"string","format":"date","description":"(OPCIONAL) Busca las vacaciones que terminaron despues de una fecha en YYYY-MM-DD"},{"name":"start_before","in":"query","type":"string","format":"date","description":"(OPCIONAL) Busca las vacaciones que empezaron antes de una fecha en YYYY-MM-DD"},{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"}],"responses":{"200":{"description":"Como respuesta recibimos un arreglo (data) con la información particular de las vacaciones","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/Vacation"}}}}}}},"post":{"summary":"Crear una vacacion","description":"Crea una nueva vacación en el sistema. Los parámetros son:\n\n- employee_id : Id del empleado\n- start_date : Fecha de inicio del periodo de vacaciones en formato YYYY-MM-DD\n- end_date : Fecha de término del periodo de vacaciones en formato YYYY-MM-DD\n- type: Corresponde al tipo de vacaciones, puede ser: legales, progresivas o dias_administrativos (en caso de estar activadas).\n- percent_day : Corresponde a la fracción del último día del periodo de vacaciones que se considera como tal.\n  Mayor a 0 y menor o igual a 1. Se envía 1 para indicar que el último día es completo\n- workday_stage : Indica la parte de la jornada que será parcial si es que percent_day es distinto de 1.\n  Puede ser start_working_day si es al inicio de la jornada o end_working_day si es al final. Si percent_day\n  es 1, sólo puede ser full_working_day. Este campo es opcional. Si no se envía se asignará automáticamente a\n  partir del valor de percent_day (full_working_day si es 1 o start_working_day si es menor).\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de vacaciones en: 'Lectura y Modificación'.\n\n","tags":["Vacaciones"],"parameters":[{"name":"vacation","in":"body","description":"Parámetros de una vacación","required":true,"schema":{"$ref":"#/definitions/approved_vacation"}}],"responses":{"201":{"description":"Respuesta en caso de haber creado una vacación de forma exitosa","schema":{"properties":{"vacation":{"$ref":"#/definitions/vacation_detail"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}},"delete":{"summary":"Borrar una vacación","description":"Borrar una vacación específica de acuerdo a el id del empleado, fecha inicio y fecha de término.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de vacaciones en: 'Lectura y Modificación'.\n\n","tags":["Vacaciones"],"parameters":[{"name":"employee_id","in":"query","description":"ID del empleado","required":true,"type":"integer"},{"name":"start_date","in":"query","description":"Fecha de inicio de la vacación","required":true,"type":"string"},{"name":"end_date","in":"query","description":"Fecha de término de la vacación","required":true,"type":"string"}],"responses":{"200":{"description":"Se entrega un mensaje de que el recurso ha sido eliminado exitosamente","schema":{"properties":{"message":{"type":"string"}}}},"404":{"description":"No se ha podido encontrar la vacación con los campos requeridos","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/vacations/{id}":{"get":{"summary":"Mostrar una vacación","description":"Se muestran toda la información relacionada a vacación solicitada.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de vacaciones en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Vacaciones"],"parameters":[{"name":"id","in":"path","description":"ID de la vacación a consultar","required":true,"type":"string"}],"responses":{"200":{"description":"Como respuesta recibimos todos los campos correspondiente a la información del empleado consultado","schema":{"properties":{"data":{"$ref":"#/definitions/Vacation"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/vacations/business_days":{"get":{"summary":"Mostrar cantidad de días hábiles","description":"Recibimos el rango fechas a calcular.\n\nEste endpoint no requiere permisos especiales.\n\n","tags":["Vacaciones"],"parameters":[{"name":"start_date","in":"query","type":"string","format":"date","required":true,"description":"Fecha de inicio (inclusive, formato YYYY-MM-DD)"},{"name":"end_date","in":"query","type":"string","format":"date","required":true,"description":"Fecha de término (inclusive, formato YYYY-MM-DD)"}],"responses":{"200":{"description":"Como respuesta recibimos la cantidad de días hábiles en el rango de fecha dado","name":"business_days","schema":{"properties":{"business_days":{"type":"number"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/vacations/requested":{"get":{"summary":"Listar Vacaciones","description":"Retorna todas las vacaciones aprobadas en el sistema, como parámetro (opcional) recibe la fecha (en formato YYYY-MM-DD) de inicio de las vacaciones.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de vacaciones en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Vacaciones"],"parameters":[{"name":"date","in":"query","type":"string","format":"date","description":"(OPCIONAL) La fecha en la cual deben iniciar las vacaciones en YYYY-MM-DD"},{"name":"end_date","in":"query","type":"string","format":"date","description":"(OPCIONAL) La fecha tope del periodo de consulta de las vacaciones en YYYY-MM-DD"},{"name":"end_after","in":"query","type":"string","format":"date","description":"(OPCIONAL) Busca las vacaciones que terminaron después de una fecha en YYYY-MM-DD"},{"name":"start_before","in":"query","type":"string","format":"date","description":"(OPCIONAL) Busca las vacaciones que empezaron antes de una fecha en YYYY-MM-DD"},{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"},{"name":"status","description":"(OPCIONAL) Busca las vacaciones que tienen como status algunos de los valores permitidos (submitted, approved, rejected, pre_approved, signature_required)","in":"query","type":"string","enum":["submitted","approved","rejected","pre_approved","signature_required"]}],"responses":{"200":{"description":"Como respuesta recibimos un arreglo (data) con la información particular de las vacaciones.","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/Vacation"}}}}}}}},"/employees/{id}/vacation_definitions":{"get":{"summary":"List vacation policies associated with the employee.","description":"Displays an array with vacation policies associated with an employee\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura'.\n* Vacation permissions en: 'Lectura'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","description":"Employee ID","in":"path","type":"integer","required":true}],"responses":{"200":{"description":"As a response, we receive a list of vacation policies associated with the employee.","schema":{"$ref":"#/definitions/VacationDefinitionOutput"}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}},"post":{"summary":"Add a vacation policy to the employees","description":"Assign a vacation policy to employees. The parameters are:\n- employee_id : (REQUIRED) ID of the employee\n- body : (REQUIRED) JSON with the code of the vacation policy to assign.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n* Vacation permissions en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","description":"Employee ID","in":"path","type":"integer","required":true},{"name":"VacationConfigDefinition","in":"body","description":"Object with the code of the policy to assign.","required":true,"schema":{"$ref":"#/definitions/VacationDefinitionInput"}}],"responses":{"201":{"description":"As a response, we receive a confirmation message."},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{id}/vacation_definitions/{code}":{"delete":{"summary":"Unassign an employee vacation policy.","description":"Unassign a vacation policy as of today for an employee. The parameters are:\n\nemployee_id: (REQUIRED) Employee ID\ncode: (REQUIRED) Code of the vacation policy to be unassigned.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n* Vacation permissions en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","description":"Employee ID","in":"path","type":"integer","required":true},{"name":"code","description":"Code of the vacation policy.","in":"path","type":"string","required":true},{"name":"date","description":"Fecha de desasignación (formato YYYY-MM-DD). Si no se envía, se usa la fecha de hoy.","in":"query","type":"string","format":"date","required":false}],"responses":{"200":{"description":"As a response, we receive a confirmation message."},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/vacation_definitions":{"get":{"summary":"List Vacation Policies","description":"Displays all vacation policies and their associated vacation type.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Vacation permissions en: 'Lectura'.\n","tags":["Vacation Policies"],"parameters":[{"name":"page_size","in":"query","type":"integer","description":"(OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]."},{"name":"page","in":"query","type":"integer","description":"(OPTIONAL) Page number"}],"responses":{"200":{"description":"As a response, we receive a list of available vacation policies.","schema":{"$ref":"#/definitions/VacationDefinitionOutput"}},"400":{"description":"There is an error with the data submitted","schema":{"$ref":"#/definitions/bad_request"}}}}},"/absences/absence/types":{"get":{"summary":"List time off types","description":"Displays the list of types of time off leaves in the system.\n\nThe filter with salary payment (with_pay) is optional.\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Attendance permissions en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Unexcused absence"],"parameters":[{"name":"with_pay","description":"(OPTIONAL) paid?","in":"query","type":"boolean"},{"name":"page_size","in":"query","type":"integer","description":"(OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]."}],"responses":{"200":{"description":"As a response, we receive an array (data) with time off types","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/LicenceType::Response"}}}}}}},"post":{"summary":"Create a time off type","description":"Creates a type of time off in the syste
[...]
