{"swagger":"2.0","securityDefinitions":{"auth_token":{"type":"apiKey","name":"auth_token","in":"header"}},"info":{"description":"# API de acceso a datos en Buk.\n\nPara poder utilizar la API es necesario obtener una **API Key**.\nPuede gestionar los accesos dentro de la plataforma, en **Configuración =\u003e Accesos API.**\n\nUna vez creada una API Key, se debe enviar el valor como cabecera en la solicitud HTTP, en el campo `auth_token`.\n\n## Para más detalle, puedes revisar el artículo \"Cómo integrarse a Buk a través de una API\"\n\n# Endpoints\n"},"tags":[{"name":"Períodos"},{"name":"Procesos"},{"name":"Empleados"},{"name":"Trabajos"},{"name":"Liquidaciones"},{"name":"Boletas de Pago"},{"name":"Vacaciones"},{"name":"Feriados"},{"name":"Beneficios"},{"name":"Personas"},{"name":"Ausencias"},{"name":"Inasistencias"},{"name":"Licencias"},{"name":"Permisos"},{"name":"Horas no trabajadas"},{"name":"Horas Extras"},{"name":"Cargos"},{"name":"Áreas"},{"name":"Empresas"},{"name":"Centralización contable"},{"name":"Estructuras contables"},{"name":"Ítems"},{"name":"KPIs"},{"name":"Suspensiones laborales"},{"name":"Centro de costo"},{"name":"Localidades"},{"name":"Sindicatos"},{"name":"Labores"},{"name":"Tarifas"},{"name":"Productos"},{"name":"Unidades"},{"name":"Lugares de Trabajo"},{"name":"Registros de Trabajo"},{"name":"Créditos"},{"name":"Días trabajados"},{"name":"Recintos"},{"name":"Evaluaciones"},{"name":"Suplencias"},{"name":"Sincronización datos de pago"},{"name":"Versiones"}],"host":"demo.buk.cl","basePath":"/api/v1/chile","consumes":["application/json"],"produces":["application/json","application/pdf"],"paths":{"/recruiting/applicants":{"post":{"summary":"Añadir postulante","description":"Crea un nuevo postulante.\n\nPara parámetros con valores entre paréntesis de corchetes se debe elegir 1. Ej. document_type\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de selección en: 'Lectura y Modificación'.\n","tags":["Postulante"],"parameters":[{"name":"Postulante","in":"body","description":"Parámetros de un postulante","required":true,"schema":{"title":"RequestBody","properties":{"applicant":{"$ref":"#/definitions/ApplicantInput"}}}}],"responses":{"201":{"description":"El postulante creado.","schema":{"title":"ResponseBody","properties":{"applicant":{"$ref":"#/definitions/Applicant"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/recruiting/applicants/search_by_email":{"post":{"summary":"Mostrar postulante","description":"Retorna el postulante por medio de su ID o RUT.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de selección en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Postulante"],"parameters":[{"name":"email","in":"body","description":"Email de un postulante","required":true,"schema":{"title":"RequestBody","properties":{"applicant":{"$ref":"#/definitions/SearchApplicantByEmail"}}}}],"responses":{"200":{"description":"Respuesta con los datos del postulante consultado","schema":{"title":"ResponseBody","properties":{"applicant":{"$ref":"#/definitions/Applicant"}}}},"404":{"description":"Postulante no encontrado","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/recruiting/applicants/{id}":{"get":{"summary":"Mostrar postulante","description":"Retorna el postulante por medio de su ID o RUT.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de selección en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Postulante"],"parameters":[{"name":"id","in":"path","description":"ID o RUT del postulante por el cual se está consultando. El RUT solo es permitido sin puntos, puede ser con o sin el caracter de guión.","required":true,"type":"string"}],"responses":{"200":{"description":"Respuesta con los datos del postulante consultado","schema":{"title":"ResponseBody","properties":{"applicant":{"$ref":"#/definitions/Applicant"}}}},"404":{"description":"Postulante no encontrado","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}},"patch":{"summary":"Actualizar postulantes.","description":"Actualizar un postulante\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de selección en: 'Lectura y Modificación'.\n\n","tags":["Postulante"],"parameters":[{"name":"id","in":"path","type":"string","description":"ID del postulante que se está actualizando.","required":true,"items":{"type":"integer"}},{"name":"postulante","in":"body","description":"Parámetros de un postulante.","required":true,"schema":{"$ref":"#/definitions/ApplicantInput"}}],"responses":{"200":{"description":"Información del postulante actualizada.","schema":{"title":"ResponseBody","properties":{"applicant":{"$ref":"#/definitions/Applicant"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}},"404":{"description":"No Existe el recurso solicitado","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}}}}},"/recruiting/applicants/":{"get":{"summary":"Listar postulantes","description":"Retorna el listado de postulantes\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de selección en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Postulante"],"parameters":[{"name":"selection_processes[]","in":"query","type":"array","description":"(OPCIONAL) Ids de los procesos de selección a consultar. (Devuelve los postulantes si estan al menos en un proceso de selección)","collectionFormat":"multi","items":{"type":"integer"}},{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Número de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"},{"name":"page","in":"query","type":"integer","description":"(OPCIONAL) Número de página"}],"responses":{"200":{"description":"Respuesta con el listado de postulantes consultados","schema":{"title":"ResponseBody","properties":{"pagination":{"$ref":"#/definitions/Pagination"},"applicants":{"type":"array","items":{"$ref":"#/definitions/Applicant"}}}}},"404":{"description":"No existe el recurso solicitado  ","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/recruiting/applicants/{id}/applications":{"get":{"summary":"Listar postulaciones por postulante","description":"Retorna todas las postulaciones asociadas al postulante, por medio de su ID o RUT.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de selección en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Postulante"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","description":"ID o RUT del postulante por el cual se está consultando. El RUT solo es permitido sin puntos, puede ser con o sin el caracter de guión."},{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Número de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"}],"responses":{"200":{"description":"Como respuesta recibimos un arreglo (applications) con la información de las postulaciones por el postulante consultado.","schema":{"title":"ResponseBody","properties":{"pagination":{"$ref":"#/definitions/Pagination"},"applications":{"type":"array","items":{"$ref":"#/definitions/ApplicationForApplicant"}}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/recruiting/applications":{"post":{"summary":"Añadir postulaciones","description":"Crea una postulación\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de selección en: 'Lectura y Modificación'.\n\n","tags":["Postulación"],"parameters":[{"name":"application","in":"body","description":"Parámetros de una postulación","required":true,"schema":{"title":"RequestBody","required":["application"],"properties":{"application":{"$ref":"#/definitions/ApplicationInput"}}}}],"responses":{"201":{"schema":{"title":"ResponseBody","properties":{"application":{"$ref":"#/definitions/Application"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}},"404":{"description":"No Existe el recurso solicitado","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}}}},"get":{"summary":"Listar postulaciones","description":"Mostrar postulación\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de selección en: 'Lectura y Modificación'.\n\n","tags":["Postulación"],"parameters":[{"name":"selection_processes[]","in":"query","type":"array","description":"(OPCIONAL) Ids de los procesos de selección a consultar. (Devuelve las postulaciones si estan al menos en un proceso de selección)","collectionFormat":"multi","items":{"type":"integer"}},{"name":"application_date","in":"query","type":"string","format":"date","description":"(OPCIONAL) Indica la fecha de postulación a consultar (Formato YYYY-MM-DD)"},{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Número de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"},{"name":"page","in":"query","type":"integer","description":"Nro de página"}],"responses":{"200":{"description":"Una lista de postulaciones que cumplan con el criterio de búsqueda.","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/Application"}}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/recruiting/applications/{id}":{"patch":{"summary":"Actualizar postulaciones","description":"Actualizar postulación\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de selección en: 'Lectura y Modificación'.\n\n","tags":["Postulación"],"parameters":[{"name":"id","in":"path","type":"string","description":"Id de la postulación a actualizar","required":true,"items":{"type":"integer"}},{"name":"postulacion","in":"body","description":"Parámetros de una postulación","required":true,"schema":{"$ref":"#/definitions/ApplicationInput"}}],"responses":{"200":{"description":"Informacion de la postulación actualizada","schema":{"title":"ResponseBody","properties":{"application":{"$ref":"#/definitions/Application"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}},"404":{"description":"No Existe el recurso solicitado","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}}}}},"/recruiting/selection_processes":{"get":{"summary":"Listar procesos de selección ","description":"Retorna todos los procesos de selección en el sistema\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de selección en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Proceso de selección"],"parameters":[{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"},{"name":"page","in":"query","type":"integer","description":"(OPCIONAL) Número de página"},{"name":"from","in":"query","type":"string","format":"date","description":"(OPCIONAL) Búsqueda de procesos de selección a partir de esta fecha. Si no se especifica, se usan los procesos de selección desde el inicio. Formato YYYY-MM-DD"},{"name":"to","in":"query","type":"string","format":"date","description":"(OPCIONAL) Búsqueda de procesos de selección hasta esta fecha. Si no se especifica, se usan los procesos de selección hasta la fecha actual. Formato YYYY-MM-DD"}],"responses":{"200":{"description":"Como respuesta recibimos un arreglo (selection_processes) con la información de los procesos de selección","schema":{"title":"ResponseBody","properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/SelectionProcess"}}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}},"post":{"summary":"Crear proceso de selección","description":"Crea un nuevo proceso de selección en base a los parámetros entregados. De no especificar un template_id se usa la plantilla por defecto.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de selección en: 'Lectura y Modificación'.\n","tags":["Proceso de selección"],"parameters":[{"name":"selection_process","in":"body","description":"Parámetros de un proceso de selección","required":true,"schema":{"title":"RequestBody","required":["selection_process"],"properties":{"selection_process":{"$ref":"#/definitions/SelectionProcessInput"}}}}],"responses":{"201":{"description":"Respuesta de la api ante la creación de un proceso de selección.","schema":{"title":"ResponseBody","properties":{"selection_process":{"$ref":"#/definitions/SelectionProcess"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/talent/evaluation_processes":{"get":{"summary":"Mostrar evaluaciones de desempeño","description":"Entrega los datos de las evaluaciones de desempeño disponibles.\nCada evaluación de desempeño posee los siguientes atributos:\n- id: identificador único de la evaluación de desempeño\n- name: nombre de la evaluación de desempeño\n- participants: número de participantes agregados a la evaluación de desempeño\n- status: estado de la evaluación de desempeño\n- start_date: fecha de inicio de la evaluación de desempeño\n- end_date: fecha de finalización de la evaluación de desempeño\n- global_progress: porcentaje de formularios finalizados \n- stages: etapas configuradas para la evaluación de desempeño\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de evaluaciones en: 'Lectura'.\n","tags":["Evaluaciones"],"parameters":[{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Número de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"},{"name":"page","in":"query","type":"integer","description":"(OPCIONAL) Número de página"}],"responses":{"200":{"description":"Como respuesta recibimos las evaluaciones de desempeño existentes.","schema":{"title":"ResponseBody","properties":{"pagination":{"$ref":"#/definitions/Pagination"},"evaluation_processes":{"$ref":"#/definitions/EvaluationProcess"}},"description":"Como respuesta recibimos todos los datos correspondientes a las evaluaciones de desempeño disponibles."}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/talent/evaluation_process/{id}/results/capacities":{"get":{"summary":"Mostrar resultados de Competencias de una evaluación de desempeño","description":"Entrega los resultados relacionados a las Competencias de la evaluación de desempeño consultada.\nUn resultado de Competencias de una evaluación de desempeño posee los siguientes atributos:\n- evaluation_id: identificador único de la evaluación de desempeño\n- evaluation_status: estado del evaluado\n- evaluated_name: nombre del evaluado\n- evaluated_rut: RUT del evaluado\n- evaluated_document_number: Número de Documento del evaluado\n- evaluated_document_type: Tipo de Documento del evaluado\n- role: cargo del evaluado\n- role_family: familia de cargo del evaluado\n- division: división del evaluado\n- area: área del evaluado\n- sub_area: sub área del evaluado\n- evaluation_type: tipo de evaluación\n- evaluator_name: nombre del evaluador\n- evaluator_rut: RUT del evaluador\n- evaluator_document_number: Número de Documento del evaluador\n- evaluator_document_type: Tipo de Documento del evaluador\n- score_by_capacity: nota por Competencia\n- capacities_score: nota final de Competencias\n- score: nota final de la evaluación\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de evaluaciones en: 'Lectura'.\n","tags":["Evaluaciones"],"parameters":[{"name":"id","in":"path","type":"integer","description":"ID de la evaluación de desempeño a consultar","required":true},{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Número de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"},{"name":"page","in":"query","type":"integer","description":"(OPCIONAL) Número de página"}],"responses":{"200":{"description":"Como respuesta recibimos los resultados relacionados a las Competencias de la evaluación de desempeño.","schema":{"title":"ResponseBody","properties":{"pagination":{"$ref":"#/definitions/Pagination"},"evaluations":{"$ref":"#/definitions/Capacities"}},"description":"Como respuesta recibimos todos los campos correspondiente a la información de la evaluación de desempeño consultada."}},"404":{"description":"Evaluación de desempeño no encontrada","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/talent/evaluation_process/{id}/results/goals":{"get":{"summary":"Mostrar resultados de Metas de una evaluación de desempeño","description":"Entrega los resultados relacionados a los Metas de la evaluación de desempeño consultada.\nUn resultado de Metas de una evaluación de desempeño posee los siguientes atributos:\n- evaluation_id: identificador único de la evaluación de desempeño\n- evaluation_status: estado del evaluado\n- evaluated_name: nombre del evaluado\n- evaluated_rut: RUT del evaluado\n- evaluated_document_number: Número de Documento del evaluado\n- evaluated_document_type: Tipo de Documento del evaluado\n- role: cargo del evaluado\n- role_family: familia de cargo del evaluado\n- division: división del evaluado\n- area: área del evaluado\n- sub_area: sub área del evaluado\n- evaluation_type: tipo de evaluación\n- evaluator_name: nombre del evaluador\n- evaluator_rut: RUT del evaluador\n- evaluator_document_number: Número de Documento del evaluador\n- evaluator_document_type: Tipo de Documento del evaluador\n- score_by_goal: nota por Meta\n- goals_score: nota final de Metas\n- score: nota final de la evaluación\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de evaluaciones en: 'Lectura'.\n","tags":["Evaluaciones"],"parameters":[{"name":"id","in":"path","type":"integer","description":"ID de la evaluación de desempeño a consultar","required":true},{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Número de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"},{"name":"page","in":"query","type":"integer","description":"(OPCIONAL) Número de página"}],"responses":{"200":{"description":"Como respuesta recibimos los resultados relacionados a los Metas de la evaluación de desempeño.","schema":{"title":"ResponseBody","properties":{"pagination":{"$ref":"#/definitions/Pagination"},"evaluations":{"$ref":"#/definitions/Goals"}},"description":"Como respuesta recibimos todos los campos correspondiente a la información de la evaluación de desempeño consultada."}},"404":{"description":"Evaluación de desempeño no encontrada","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/training/sence_percents":{"get":{"summary":"Mostrar tramo sence de todos los empleados","description":"Retorna un listado con el id, rut y tramo sence de cada empleados del sistema que tenga una liquidación del mes abierto.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de capacitaciones en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Capacitaciones"],"parameters":[{"name":"page_size","in":"query","type":"integer","description":"Número de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"}],"responses":{"200":{"description":"Respuesta con el id, rut y porcentaje de tramo sence de cada empleados.","schema":{"title":"ResponseBody","properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/SencePercentIndex"}}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/training/sence_percents/{employee_id}":{"get":{"summary":"Mostrar el tramo sence de un empleados","description":"Recibimos la información específica del empleados cuya ID o RUT enviamos en la consulta\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de capacitaciones en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Capacitaciones"],"parameters":[{"name":"employee_id","in":"path","description":" ID o RUT sin puntos del empleados a consultar","required":true,"type":"string"}],"responses":{"200":{"description":"Retorna el porcentaje de tramo sence del empleados por medio del  ID o RUT.","schema":{"$ref":"#/definitions/SencePercent"}},"404":{"description":"empleados no encontrado","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/piecework/tasks":{"get":{"summary":"Listar labores","description":"'Retornar labores desde la fecha de creación dada'\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Labores"],"parameters":[{"name":"created_at","description":"(OPCIONAL) Fecha en que fue creada la labor en YYYY-MM-DD.","in":"query","type":"string","format":"date"},{"name":"page_size","type":"integer","in":"query","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]\n"}]},"post":{"summary":"Crear labores","description":"Crea un nuevo labor en el sistema. Los parámetros son:\n\n  - description : Descripción del labor.\n  - code : Código del labor.\n  - seventh_workday : Afecto a semana corrida.\n  - custom_attrs : Atributos personalizados para labores.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura y Modificación'.\n\n","tags":["Labores"],"parameters":[{"name":"Labor","description":"Objeto de tipo labor","in":"body","required":true,"schema":{"properties":{"task":{"$ref":"#/definitions/Piecework::Task::Request"}}}}]}},"/piecework/executions":{"get":{"summary":"Listar Tarifas","description":"'Retornar tarifas desde la fecha de creación dada'\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Tarifas"],"parameters":[{"name":"created_at","description":"(OPCIONAL) Fecha en que fue creada la tarifa en YYYY-MM-DD.","in":"query","type":"string","format":"date"},{"name":"page_size","type":"integer","in":"query","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]\n"}]},"post":{"summary":"Crear tarifa","description":"Crea una nueva tarifa en el sistema. Los parámetros son:\n\n- piecework_place_id : Id del lugar.\n- piecework_task_id : Id del labor.\n- piecework_unit_id : Id del unidad.\n- piecework_product_id: Id del producto.\n- formula : Valor de la tarifa, si la tarifa es simple no se requiere.\n- start_date : Fecha de inicio de la tarifa.\n- end_date: Fecha de finalización de la tarifa. OPCIONAL\n- type_rate : Tipo de tarifa, normal(0) o simple(1). Por defecto es 0.\n- monetary_floor : Se define piso de la tarifa de forma manual. Requerido si la tarifa es normal y no se tiene el calculo de piso por el sistema.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura y Modificación'.\n\n","tags":["Tarifas"],"parameters":[{"name":"Tarifa","description":"Objeto de tipo tarifa","in":"body","required":true,"schema":{"properties":{"execution":{"$ref":"#/definitions/Piecework::Execution::Request"}}}}]}},"/piecework/products":{"get":{"summary":"Listar Productos","description":"'Retornar Productos'\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Productos"],"parameters":[{"name":"page_size","type":"integer","in":"query","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]\n"}]},"post":{"summary":"Crear Productos","description":"Crea un nuevo Producto en el sistema. Los parámetros son:\n\n  - name : Nombre del Producto.\n  - code : Código del Producto.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura y Modificación'.\n\n","tags":["Productos"],"parameters":[{"name":"Producto","description":"Objeto de tipo Producto","in":"body","required":true,"schema":{"properties":{"product":{"$ref":"#/definitions/Piecework::Product::Request"}}}}]}},"/piecework/units":{"get":{"summary":"Listar Unidades","description":"'Retornar Unidades'\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Unidades"],"parameters":[{"name":"page_size","type":"integer","in":"query","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]\n"}]},"post":{"summary":"Crear Unidades","description":"Crea una nueva Unidad en el sistema. Los parámetros son:\n\n  - name : Nombre de la Unidad.\n  - code : Código de la Unidad.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura y Modificación'.\n\n","tags":["Unidades"],"parameters":[{"name":"Unidad","description":"Objeto de tipo Unidad","in":"body","required":true,"schema":{"properties":{"unit":{"$ref":"#/definitions/Piecework::Unit::Request"}}}}]}},"/piecework/places":{"get":{"summary":"Listar Lugares de Trabajo","description":"#\u003cProc:0x00007fd64b00e118 /usr/src/app/packs/nomina/chile/piecework/app/controllers/api/v1/piecework/places_controller.rb:10 (lambda)\u003e\n","tags":["Lugares de Trabajo"],"parameters":[{"name":"empresa_id","description":{},"in":"query","type":"integer"},{"name":"page_size","type":"integer","in":"query","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]\n"}]},"post":{"summary":"Crear Lugares de Trabajo","description":"#\u003cProc:0x00007fd64b00d178 /usr/src/app/packs/nomina/chile/piecework/app/controllers/api/v1/piecework/places_controller.rb:30 (lambda)\u003e\n","tags":["Lugares de Trabajo"],"parameters":[{"name":"Lugar de Trabajo","description":"Objeto de tipo Lugar de Trabajo","in":"body","required":true,"schema":{"properties":{"place":{"$ref":"#/definitions/Piecework::Place::Request"}}}}]}},"/piecework/worklogs":{"get":{"summary":"Listar Registros de Trabajo","description":"'Retornar Registros de Trabajo'\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Registros de Trabajo"],"parameters":[{"name":"employee_id","description":"(Opcional) ID del empleado asociado al Registro de Trabajo","in":"query","type":"integer"},{"name":"variable_id","description":"(Opcional) ID del periodo asociado al Registro de Trabajo","in":"query","type":"integer"},{"name":"empresa_id","description":{},"in":"query","type":"integer"},{"name":"area_id","description":"(Opcional) ID del área a la que pertenece el empleado asociado al Registro de Trabajo","in":"query","type":"integer"},{"name":"page_size","type":"integer","in":"query","description":"(Opcional) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]\n"}]},"post":{"summary":"Crear Registro de Trabajo","description":"Crea un nuevo Registro de Trabajo en el sistema. Los parámetros son:\n  - day: Fecha del trato en formato YYYY-MM-DD.\n  - employee_id: ID del empleado.\n  - monetary_floor: [integer] Se define piso de la tarifa de forma manual. Requerido si tratos simplificado y no se tiene el calculo de piso por el sistema.\n  - daily_base_floor: [boolean] Calcular piso del trato sin redondear (Opcional)\n  - overwrite_existing: [boolean] (Opcional)\n  - discount_day_amount: [boolean] (Opcional)\n  - calculate_total_pay: [boolean] (Opcional)\n  - sync_attendance: [integer] Posibles valores: 0 (no sincronizar), 1 (días trabajados), 2 (ausencias), 3 (días trabajados y ausencias).\n  - informative: [boolean] (Opcional) Si es que el trato es del tipo informativo y no se debe considerar en la liquidación, informative debe ser true. (Default: false)\n  - Worklogs: [array]\n    - production: (Opcional) Cantidad de unidades producidas.\n    - piecework_execution_id: ID de la tarifa.\n    - rate_value: (Opcional) Valor de la tarifa aplicada.\n    - total_pay: Valor que se pagará al empleado por este trato.\n    - work_type: Tipo de Trabajo. Posibles valores: 'ausencia', 'dia', 'trato', 'bono'.\n    - saved_in: Posibles valores: 'porcentaje', 'horas'.\n    - worked_units: Unidades trabajadas. Debe ser consistente con el atributo 'saved_in'.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura y Modificación'.\n\n","tags":["Registros de Trabajo"],"parameters":[{"name":"Registro de Trabajo","description":"Objeto de tipo Registro de Trabajo","in":"body","required":true,"schema":{"properties":{"daily_base_floor":{"type":"boolean","default":false},"discount_day_amount":{"type":"boolean","default":false},"calculate_total_pay":{"type":"boolean","default":false},"overwrite_existing":{"type":"boolean","default":false},"sync_attendance":{"type":"integer","default":0},"day":{"type":"string","default":"2022-01-01"},"employee_id":{"type":"integer","default":1},"monetary_floor":{"type":"integer","default":0},"informative":{"type":"boolean","default":false},"worklogs":{"type":"array","items":{"$ref":"#/definitions/Piecework::Worklog::Request"}}}}}]}},"/piecework/worklogs/{id}":{"patch":{"summary":"Editar un Registro de Trabajo","description":"Edita un Registro de Trabajo existente en el sistema. Los parámetros son:\n  - monetary_floor: [integer] Se define piso de la tarifa de forma manual. Requerido si tratos simplificado y no se tiene el calculo de piso por el sistema.\n  - daily_base_floor: [boolean] Calcular piso del trato sin redondear (Opcional)\n  - discount_day_amount: [boolean] (Opcional)\n  - calculate_total_pay: [boolean] (Opcional)\n  - sync_attendance: [integer] Posibles valores: 0 (no sincronizar), 1 (días trabajados), 2 (ausencias), 3 (días trabajados y ausencias).\n  - informative: [boolean] (Opcional) Si es que el trato es del tipo informativo y no se debe considerar en la liquidación, informative debe ser true. (Default: false)\n  - worklog [object]:\n    - day: Fecha del trato en formato YYYY-MM-DD.\n    - work_type: Tipo de Trabajo. Posibles valores: 'ausencia', 'dia', 'trato', 'bono'.\n    - worked_units: Unidades trabajadas. Debe ser consistente con el atributo 'saved_in'.\n    - production: Cantidad de unidades producidas.\n    - rate_value: Valor de la tarifa aplicada.\n    - total_pay: Valor que se pagará al empleado por este trato.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de tratos en: 'Lectura y Modificación'.\n\n","tags":["Registros de Trabajo"],"parameters":[{"name":"id","in":"path","description":"ID del registro de trabajo a modificar.","required":true,"type":"integer"},{"name":"Registro de Trabajo","description":"Objeto de tipo Registro de Trabajo","in":"body","required":true,"schema":{"properties":{"daily_base_floor":{"type":"boolean","default":false},"discount_day_amount":{"type":"boolean","default":false},"calculate_total_pay":{"type":"boolean","default":false},"sync_attendance":{"type":"integer","default":0},"monetary_floor":{"type":"integer","default":0},"informative":{"type":"boolean","default":false},"worklog":{"$ref":"#/definitions/Piecework::Worklog::RequestPatch"}}}}]}},"/workflow/alta/processes":{"get":{"summary":"Obtener flujos de alta","description":"Retorna solicitudes de alta de Colaboradores.\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de Workflow en: 'Lectura'.\n","tags":["Flujos de Trabajo"],"parameters":[{"name":"status","in":"query","description":"(OPCIONAL) Estado de la solicitud. En Progreso(1), Finalizado(2), Error(4), Cancelado(5)","required":false,"type":"integer","enum":[1,2,4,5]},{"name":"creation_start_date","in":"query","description":"(OPCIONAL) Fecha Creación de la solicitud (Desde), en formato YYYY-MM-DD","required":false,"type":"string","format":"date"},{"name":"creation_end_date","in":"query","description":"(OPCIONAL) Fecha Creación de la solicitud (Hasta), en formato YYYY-MM-DD","required":false,"type":"string","format":"date"},{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Número de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"},{"name":"page","in":"query","type":"integer","description":"(OPCIONAL) Número de página"}],"responses":{"200":{"description":"Respuesta con los datos de/los flujos de alta","name":"data","schema":{"title":"ResponseBody","properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/WorkflowProcessAlta"}}}}},"404":{"description":"Flujos de alta no encontrados","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/process_periods":{"get":{"summary":"Listar períodos","description":"Retorna todos los períodos de la aplicación con sus datos y estado correspondiente.\n\nEste endpoint no requiere permisos especiales.\n\n","tags":["Períodos"],"parameters":[{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"}],"responses":{"200":{"description":"Como respuesta recibimos un arreglo (data) con todos los períodos de la aplicación","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/Variable"}}}}}}}},"/process":{"get":{"summary":"Listar procesos","description":"Retorna todos los procesos correspondientes a un periodo.\n\nEste endpoint no requiere permisos especiales.\n","tags":["Procesos"],"parameters":[{"name":"date","in":"query","type":"string","format":"date","required":true,"description":"Indica la fecha de inicio del proceso a consultar (Formato YYYY-MM-DD)"},{"name":"page_size","in":"query","type":"integer","description":"Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"},{"name":"page","in":"query","type":"integer","description":"Numero de página"},{"name":"name","in":"query","type":"string","required":false,"description":"Nombre del proceso para filtrar los resultados"}],"responses":{"200":{"description":"Proceso encontrado exitosamente","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/Process"}}}}}}},"post":{"summary":"Crear un nuevo proceso de nómina","description":"Retorna todos los procesos correspondientes a un periodo.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de procesos en: 'Lectura y Modificación'.\n","tags":["Procesos"],"parameters":[{"name":"Process","in":"body","description":"Retorna todos los procesos correspondientes a un periodo.","required":true,"schema":{"$ref":"#/definitions/processInput"}}],"responses":{"201":{"description":"Proceso creado exitosamente","schema":{"$ref":"#/definitions/Process"}}}}},"/process/{id}":{"get":{"summary":"Obtener detalles de un proceso","description":"Retorna la información detallada de un proceso específico por su ÍD\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de procesos en: 'Lectura'.\n","tags":["Procesos"],"parameters":[{"name":"id","in":"path","type":"integer","required":true,"description":"ÍD del proceso a consultar"}],"responses":{"200":{"description":"Proceso encontrado exitosamente","schema":{"$ref":"#/definitions/Process"}}}},"delete":{"summary":"Eliminar proceso","description":"Elimina un proceso de tipo liquidación utilizando su identificador. Solo se pueden eliminar procesos de este tipo.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de procesos en: 'Lectura y Modificación'.\n","tags":["Procesos"],"parameters":[{"name":"id","in":"path","type":"integer","required":true,"description":"Identificador del proceso a eliminar"}],"responses":{"200":{"description":"Proceso eliminado exitosamente"},"409":{"description":"No se puede eliminar el proceso. Solo se permiten eliminar procesos de tipo Liquidación"}}}},"/groups":{"get":{"summary":"Listar grupos","description":"Retorna la lista de grupos disponibles\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura'.\n","tags":["Grupos"],"parameters":[{"name":"page_size","in":"query","type":"integer","description":"Cantidad de registros por página"},{"name":"page","in":"query","type":"integer","description":"Número de página"}],"responses":{"200":{"description":"Lista de grupos","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/FilterQueryModel"}}}}}}}},"/groups/{id}":{"get":{"summary":"Mostrar grupo","description":"Retorna la información de un grupo y sus participantes\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura'.\n","tags":["Grupos"],"parameters":[{"name":"id","in":"path","description":"ID del grupo","required":true,"type":"integer"},{"name":"page_size","in":"query","type":"integer","description":"Cantidad de registros por página"},{"name":"page","in":"query","type":"integer","description":"Número de página"}],"responses":{"200":{"description":"Información del grupo con sus participantes","name":"data","schema":{"properties":{"id":{"type":"integer","description":"ID del grupo"},"group_name":{"type":"string","description":"Nombre del grupo"},"updated_at":{"type":"string","format":"date-time","description":"Última actualización"},"pagination":{"$ref":"#/definitions/Pagination"},"participants":{"type":"array","items":{"$ref":"#/definitions/FilterQueryParticipant"}}}}}}}},"/employees":{"get":{"summary":"Mostrar Colaboradores","description":"Entrega la información de todos los Colaboradores.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"status","in":"query","type":"string","description":"Estado del Colaborador. valores permitidos: activo, inactivo, pendiente"},{"name":"document_number","in":"query","type":"string","description":"Número de Documento"},{"name":"code_sheet","in":"query","type":"string","description":"Código de ficha del Colaborador"},{"name":"company_id","in":"query","type":"string","description":"Id de la Empresa"},{"name":"update_start_date","in":"query","type":"string","format":"date","description":"Fecha de actualización, en caso de usar el atributo company_id validara según esta fecha el trabajo activo en el momento para definir la información a mostrar, si esta vacio se considerará fecha actual"},{"name":"custom_attr_job_name","in":"query","type":"string","description":"Nombre del atributo personalizado de trabajo"},{"name":"custom_attr_job_value","in":"query","type":"string","description":"Valor del atributo personalizado de trabajo (si es más de uno, sepárelos por ::, por ejemplo Valor1::Valor2)"},{"name":"email","in":"query","type":"string","description":"Email laboral del Colaborador"},{"name":"code_recinto","in":"query","type":"string","description":"Código del Recinto"},{"name":"page_size","in":"query","type":"integer","description":"Tamaño de la página"},{"name":"page","in":"query","type":"integer","description":"Nro de página"},{"name":"sort","in":"query","type":"string","description":"Parámetro para ordenar registros, el único valor posible es 'id', si no se envia se ordena por nombre"}],"responses":{"200":{"description":"Una lista de Colaboradores que cumplan con el criterio de bùsqueda.","schema":{"$ref":"#/definitions/EmployeeResponseCountry"}}}},"post":{"summary":"Crear un Colaborador","description":"Permite almacenar la información de los Colaboradores. Si no se envía la key active con valor true se creará inactivo. El código de ficha \"code_sheet\" es opcional, si no se envía se autogenerará en caso que la persona no exista previamente (los datos personales a enviar no estén siendo usados por otro Colaborador).\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"Employee","in":"body","description":"Objeto de tipo employee","required":true,"schema":{"$ref":"#/definitions/Employee::Response::Minimal"}}],"responses":{"201":{"description":"Colaborador creado.","schema":{"title":"ResponseBody","properties":{"employee":{"$ref":"#/definitions/EmployeeResponseCountry"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{id}/clone":{"post":{"summary":"Crear una nueva ficha para un Colaborador","description":"Permite crear una nueva ficha tomando como referencia otra existente. Esto incluye el detalle de cada una de las cargas de su grupo familiar. Recibe los campos que serán distintos, los demás serán copiados de la ficha de referencia.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura y Modificación'.\n\n**General requerida para utilizar este endpoint:** \n* Doble trabajo, valor: true.\n","parameters":[{"name":"id","in":"path","description":"ID del Colaborador a clonar.","required":true,"type":"string"},{"name":"Employee","in":"body","description":"Objeto de tipo employee","required":true,"schema":{"$ref":"#/definitions/EmployeeInputCloneCountry"}}],"tags":["Colaboradores"],"responses":{"201":{"description":"Colaborador creado.","schema":{"title":"ResponseBody","properties":{"employee":{"$ref":"#/definitions/EmployeeResponseCountry"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/active":{"get":{"summary":"Listar Colaboradores","description":"Retorna todos los Colaboradores vigentes en el sistema. Un Colaborador vigente es un Colaborador con plan y trabajo activos en la fecha seleccionada.\u003cbr\u003e\u003cbr\u003e Como parámetro (opcional) recibe la fecha (en formato YYYY-MM-DD) en la que deben tener un contrato vigente, si no se proporciona este parámetro entonces se tomará la fecha de hoy del mes abierto en la aplicación.\u003cbr\u003e Adicionalmente, puede recibir un parámetro opcional para excluir los Colaboradores que se encuentren pendientes.\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"rut","in":"query","type":"string","description":"RUT"},{"name":"code_sheet","in":"query","type":"string","description":"Código de ficha del Colaborador"},{"name":"date","in":"query","type":"string","format":"date","description":"Fecha  en el cual evaluar si los Colaboradores tienen contrato vigente, en formato YYYY-MM-DD. En caso de no ingresar este parámetro se usará por defecto la fecha de hoy en el cual se encuentra la plataforma"},{"name":"exclude_pending","in":"query","type":"boolean","description":"Se excluyen los Colaboradores pendientes en el caso de enviar este parámetro como `true`"},{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"}],"responses":{"200":{"description":"'Como respuesta recibimos un arreglo (data) con la información de los Colaboradores'\n","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/EmployeeResponseCountry"}}}}}}}},"/employees/{id}":{"get":{"summary":"Mostrar Colaborador","description":"'Recibimos la información específica del Colaborador cuya ID o RUT enviamos en la consulta.'\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","description":"ID o Número de Documento del Colaborador a consultar. En caso de ser Número de Documento, no debe tener puntos ni guion.","required":true,"type":"string"}],"responses":{"200":{"description":"'Como respuesta recibimos todos los campos correspondiente a la información del Colaborador consultado'\n","schema":{"$ref":"#/definitions/EmployeeResponseCountry"}}}},"patch":{"summary":"Actualizar Colaborador","description":"Actualiza la información del Colaborador.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","description":"ID o Número de Documento del Colaborador a consultar. En caso de ser Número de Documento, no debe tener puntos ni guion.","required":true,"type":"string"},{"name":"Employee","in":"body","description":"Objeto de tipo employee","required":true,"schema":{"$ref":"#/definitions/EmployeeResponsePatch"}}],"responses":{"200":{"description":"Colaborador actualizado.","schema":{"title":"ResponseBody","properties":{"data":{"$ref":"#/definitions/Employee::Response"}}}}}}},"/employees/{id}/subordinates":{"get":{"summary":"Mostrar Colaboradores subordinados a otro Colaborador","description":"Recibimos la lista de Colaboradores que sean subordinados.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","description":"ID o Número de Documento del Colaborador a consultar. En caso de ser Número de Documento, no debe tener puntos ni guion.","required":true,"type":"string"},{"name":"date","in":"query","type":"string","format":"date","description":"Fecha en el cual evaluar si los Colaboradores subordinados tienen contrato vigente, en formato YYYY-MM-DD. En caso de no ingresar este parámetro se usará por defecto la fecha de hoy en el cual se encuentra la plataforma."},{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"}],"responses":{"200":{"description":"'Como respuesta recibimos un arreglo (data) con la información de los Colaboradores'\n","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/MinimalEmployee"}}}}}}}},"/employees/{id}/vacations_available":{"get":{"summary":"Mostrar cantidad de días disponible para vacaciones","description":"Recibimos la cantidad de días.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de vacaciones en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID o Número de Documento del Colaborador a consultar. En caso de ser Número de Documento, no debe tener puntos ni guion.","type":"string"},{"name":"discount","in":"query","description":"Descontar vacaciones tomadas a futuro. (true, false)","enum":[true,false],"type":"boolean"},{"name":"date","in":"query","type":"string","format":"date","description":"La fecha en la que se calculará las vacaciones pendientes (Formato: DD-MM-YYYY), por defecto será el último día del mes abierto"}],"responses":{"200":{"description":"'Como respuesta recibimos un arreglo (data) con la información del Colaborador y sus vacaciones'\n","schema":{"$ref":"#/definitions/VacationsAvailable"}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{id}/earned_vacations":{"get":{"summary":"Mostrar detalle de vacaciones percibidas y simulación de proporcionales","description":"Recibimos el detalle de las vacaciones percibidas y simulación de proporcionales hasta cierta fecha.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de vacaciones en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","description":"ID o Número de Documento del Colaborador a consultar. En caso de ser Número de Documento, no debe tener puntos ni guion.","required":true,"type":"string"},{"name":"date","in":"query","description":"'La fecha en la que se calculará las vacaciones percibidas y fecha hasta que se simularán las proporcionales (Formato: DD-MM-YYYY), por defecto será el día de hoy'\n","type":"string","format":"date"},{"name":"page","in":"query","type":"integer","description":"(OPCIONAL) Página a consultar"},{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"}],"responses":{"200":{"description":"'Como respuesta recibimos un arreglo (data) con la información de las vacaciones percibidas y proporcionales del Colaborador'\n","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/EarnedVacations"}}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{employee_id}/family_responsibilities/{id}":{"get":{"summary":"Mostrar Grupo Familiar de un Colaborador","description":"Retorna la información de un Grupo Familiar asociado a un Colaborador.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura' o 'Lectura y Modificación'.\n\n**General requerida para utilizar este endpoint:** \n* Habilitar grupo familiar, valor: true.\n","tags":["Colaboradores"],"parameters":[{"name":"employee_id","in":"path","description":"ID del Colaborador a consultar.","required":true,"type":"string"},{"name":"id","in":"path","description":"ID del Grupo Familiar a consultar.","required":true,"type":"string"}],"responses":{"200":{"description":"La información del Grupo Familiar asociado al Colaborador.","schema":{"properties":{"data":{"$ref":"#/definitions/EmployeeFamilyResponsibility"}}}},"404":{"description":"No Existe el recurso solicitado","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}}}}},"/cargas/{id}":{"patch":{"summary":"Actualizar Grupo Familiar","description":"Actualizar Grupo Familiar existente y sus detalles asociados\n\nEn el caso de relation: Recibimos el tipo de relación a asignar, este puede ser un string de la siguiente lista:\n\n- Chile/Colombia/México: child, husband, father, mother, other\n- Perú: spouse, concubine, minor_child, student_adult_child, disability_adult_child, pregnant, son_or_daughter, mother, father, other\n- Brasil: spouse, partner_with_children_or_lived_five_years_or_stable_union, child_stepchild, child_stepchild_university_student_or_attending_high_school, sibling_grandson_greatgrandchild_without_support, sibling_grandson_greatgrandson_university_student_without_support, parents_grandparents_greatgrandparents, poor_minor, incapable_person, exspouse, others\n\n\ncustom_attributes no pueden ser actualizados a través de este endpoint\n\n\n","tags":["Grupo Familiar"],"parameters":[{"name":"id","in":"path","required":true,"description":"ID del Grupo Familiar a actualizar","type":"integer"},{"name":"carga","in":"body","description":"Datos de Grupo Familiar a actualizar","required":true,"schema":{"type":"object","properties":{"carga":{"type":"object","properties":{"tramo_asignacion":{"type":"string"},"carga_simple":{"type":"integer"},"carga_maternal":{"type":"integer"},"carga_invalida":{"type":"integer"},"start_date":{"type":"string","format":"date"},"end_date":{"type":"string","format":"date"},"detalle_cargas_attributes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"first_name":{"type":"string"},"first_surname":{"type":"string"},"second_surname":{"type":"string"},"relation":{"type":"string"},"birthday":{"type":"string","format":"date"},"gender":{"type":"string"},"rut":{"type":"string"}}}}}}}}}],"responses":{"200":{"description":"Actualización de Grupo Familiar exitosa","schema":{"type":"object","properties":{"message":{"type":"string","description":"Mensaje de confirmación"},"carga":{"type":"object","properties":{"id":{"type":"integer"},"family_allowance_section":{"type":"string"},"simple_family_responsability":{"type":"integer"},"maternity_family_responsability":{"type":"integer"},"invalid_family_responsability":{"type":"integer"},"start_date":{"type":"string","format":"date"},"end_date":{"type":"string","format":"date"},"responsability_details":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"first_name":{"type":"string"},"relation":{"type":"string"},"birthday":{"type":"string","format":"date"}}}}}}}}},"422":{"description":"Error de validación","schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"404":{"description":"Grupo Familiar no encontrado"}}}},"/jobs/{id}/termination":{"get":{"summary":"Obtener finiquito","description":"Obtener finiquito mediante el id de un trabajo\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura'.\n* Permitir ver información sensible en: 'Sí'.\n","tags":["Finiquitos"],"parameters":[{"name":"id","in":"path","type":"string","required":true,"description":"ID del trabajo"}],"responses":{"200":{"description":"Como respuesta recibimos un objeto de tipo finiquito","schema":{"properties":{"data":{"$ref":"#/definitions/Finiquito"}}}},"404":{"description":"No Existe el recurso solicitado","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}}}},"post":{"summary":"Crear Finiquito","description":"Crear un Finiquito mediante un id de Trabajo y los datos del Finiquito\n\nrazon debe ser uno de los siguientes valores: mutuo_acuerdo, renuncia, muerte, vencimiento_plazo, fin_servicio, :caso_fortuito, falta_probidad, acoso_sexual, vias_de_hecho, injurias, conducta_inmoral, acoso_laboral, negociaciones_prohibidas, no_concurrencia, abandonar_trabajo, faltas_seguridad, perjuicio_material, incumplimiento, necesidades_empresa, desahucio_gerente\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura y Modificación'.\n","tags":["Finiquitos"],"parameters":[{"description":"ID del trabajo","name":"id","in":"path","type":"string","required":true},{"name":"Finiquito","in":"body","description":"Parámetros de Finiquito","required":true,"schema":{"$ref":"#/definitions/FiniquitoInputCountry"}}],"responses":{"201":{"description":"Objeto de tipo Finiquito","schema":{"properties":{"data":{"$ref":"#/definitions/Finiquito"}}}}}}},"/employees/{id}/pension_savings":{"get":{"summary":"Mostrar ahorros previsionales","description":"Obtener los ahorros previsionales mediante el id de un Colaborador\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura'.\n* Permisos de ítems en: 'Lectura'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","type":"string","required":true,"description":"Colaborador ID"},{"name":"date","in":"query","type":"string","format":"date","description":"Filtra los ahorros previsionales que son vigentes para esta fecha"}],"responses":{"200":{"description":"Como respuesta recibimos una lista de objetos de tipo ahorro previsional","schema":{"properties":{"data":{"type":"array","items":{"$ref":"#/definitions/PensionSaving"}}}}},"404":{"description":"No Existe el recurso solicitado","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}}}}},"/users":{"get":{"summary":"Mostrar usuarios","description":"Entrega la información de todos los usuarios.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de usuarios y perfiles en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Usuarios y perfiles"],"parameters":[{"name":"name","in":"query","type":"string","description":"Nombre"},{"name":"email","in":"query","type":"string","description":"Email"},{"name":"person_id","in":"query","type":"integer","description":"ID de la Persona (Se encuentra en el endpoint de empleados)"},{"name":"permission_role_id","in":"query","type":"integer","description":"ID del perfil"},{"name":"limit_areas","in":"query","type":"boolean","enum":[true,false],"description":"¿Limitado por áreas?"},{"name":"limit_realms","in":"query","type":"boolean","enum":[true,false],"description":"¿Limitado por Juego de datos?"},{"name":"realm_name","in":"query","type":"boolean","enum":[true,false],"description":"Nombre del juego de datos"},{"name":"limited_by_area_id","in":"query","type":"integer","description":"ID del Área por el cual esta limitados los usuarios"},{"name":"activated","in":"query","type":"boolean","enum":[true,false],"description":"¿Usuario activo?"},{"name":"rol_visible","in":"query","type":"string","enum":["ve_publico","ve_privado","ve_ambos"],"description":"Límites de Rol"}],"responses":{"200":{"description":"Una lista de usuarios que cumplan con el criterio de búsqueda.","schema":{"$ref":"#/definitions/User"}}}},"post":{"summary":"Crear usuario","description":"Crea un usuario y envia la invitación al mismo #magic___^_^___line Cada registro se compone de: - person_id: Id de la persona a relacionar con el usuario (Si este parámetro es enviado, se usa nombre y el email corporativo de la persona)\n  Se puede encontrar en la api de Colaboradores.\n\n- name: Nombre del usuario - email: Email del usuario (Si person_id es enviado usa el email de la persona si esta tiene) - activated: Determina si el usuario puede loguearse en la aplicación - area_ids: Lista de ids de areas a limitar el usuario - limit_areas: Si el usuario va a estar limitado o no por áreas - permission_role_id: Id del perfil a asignar al usuario.\n  (Si se deja este campo vacío el usuario tendrá Perfil Normal)\n\n(Solo disponible si general 'Habilitar juegos de datos' está activa) - realm_ids: Lista de ids de Juegos de datos a limitar - limit_realms: Si el usuario esta limitado por juego de datos\n(Solo disponible si la general 'Habilitar Rol Privado' está activa) - rol_visible: Permite limitar si el usuario puede ver perfiles privado, públicos o ambos (ve_publico, ve_privado, ve_ambos)\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de usuarios y perfiles en: 'Lectura y Modificación'.\n","tags":["Usuarios y perfiles"],"parameters":[{"name":"User","in":"body","description":"Objeto de tipo user","required":true,"schema":{"$ref":"#/definitions/User"}}],"responses":{"201":{"description":"Usuario creado.","schema":{"title":"ResponseBody","properties":{"user":{"$ref":"#/definitions/User"}}}}}}},"/users/{id}":{"get":{"summary":"Mostrar usuario","description":"Entrega la información de un usuario.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de usuarios y perfiles en: 'Lectura' o 'Lectura y Modificación'.\n","parameters":[{"name":"id","in":"path","description":"ID de usuario","required":true,"type":"string"}],"tags":["Usuarios y perfiles"],"responses":{"200":{"description":"Un usuario con el ID correspondiente","schema":{"$ref":"#/definitions/User"}}}},"put":{"summary":"Editar un usuario","description":"Edita un usuario\nLas campos que podemos editar son los siguientes (No hace falta enviar los campos que no va a ser modificados): - person_id: Id de la persona a relacionar con el usuario (Si este parámetro es enviado, se usa nombre y el email corporativo de la persona)\n  Se puede encontrar en la api de Colaboradores.\n\n- name: Nombre del usuario - email: Email del usuario (Si person_id es enviado usa el email de la persona si esta tiene) - area_ids: Lista de ids de areas a limitar el usuario - activated: Determina si el usuario puede loguearse en la aplicación - limit_areas: Si el usuario va a estar limitado o no por áreas - permission_role_id: Id del perfil a asignar al usuario.\n  (Si se deja este campo vacío el usuario tendrá Perfil Normal)\n\n(Solo disponible si general 'Habilitar juegos de datos' está activa) - realm_ids: Lista de ids de Juegos de datos a limitar - limit_realms: Si el usuario esta limitado por juego de datos\n(Solo disponible si la general 'Habilitar Rol Privado' está activa) - rol_visible: Permite limitar si el usuario puede ver perfiles privado, públicos o ambos (ve_publico, ve_privado, ve_ambos)\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de usuarios y perfiles en: 'Lectura y Modificación'.\n","tags":["Usuarios y perfiles"],"parameters":[{"name":"id","in":"path","description":"ID del usuario a editar","required":true,"type":"string"},{"name":"User","in":"body","description_user":"Objeto de tipo user","required":true,"schema":{"$ref":"#/definitions/User"}}],"responses":{"200":{"description":"Usuario editado.","schema":{"title":"ResponseBody","properties":{"user":{"$ref":"#/definitions/User"}}}}}}},"/permission_roles":{"get":{"summary":"Mostrar Perfiles","description":"Entrega la información de todos los perfiles disponibles.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de usuarios y perfiles en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Usuarios y perfiles"],"parameters":[{"name":"id","in":"query","type":"integer","description":"ID del perfil"},{"name":"name","in":"query","type":"string","description":"Nombre"}],"responses":{"200":{"description":"Una lista de perfiles que cumplan con el criterio de búsqueda.","schema":{"$ref":"#/definitions/PermissionRole"}}}}},"/employees/{id}/plans":{"get":{"summary":"Mostrar planes de un empleado","description":"Retorna la información de los planes asociados a un Colaborador.\n(endpoint no implementado para México)\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","description":"ID del Colaborador a consultar.","required":true,"type":"string"}],"responses":{"200":{"description":"Un arreglo (data) con la información de los planes asociados al Colaborador.","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/PlanResponseCountry"}}}}}}},"post":{"summary":"Añadir un plan a empleado","description":"Crea un nuevo plan para el Colaborador en el sistema\n(endpoint no implementado para México)\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","description":"ID del Colaborador a consultar.","required":true,"type":"string"},{"name":"Plan","in":"body","description":"Objeto de tipo plan","required":true,"schema":{"$ref":"#/definitions/PlanInputCountry"}}],"responses":{"201":{"description":"Como respuesta recibimos un arreglo (data) con la información del plan creado","schema":{"properties":{"data":{"$ref":"#/definitions/PlanResponseCountry"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{employee_id}/plans/{id}":{"get":{"summary":"Mostrar plan de un empleado","description":"Retorna la información de un plan asociado a un Colaborador.\n(endpoint no implementado para México)\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura'.\n","tags":["Colaboradores"],"parameters":[{"name":"employee_id","in":"path","description":"ID del Colaborador a consultar.","required":true,"type":"string"},{"name":"id","in":"path","description":"ID del plan a consultar.","required":true,"type":"string"}],"responses":{"200":{"description":"La información del plan asociado al Colaborador.","schema":{"properties":{"data":{"$ref":"#/definitions/PlanResponseCountry"}}}}}},"patch":{"summary":"Actualizar un plan a empleado","description":"Actualiza un plan asociado a un Colaborador en el sistema\n(endpoint no implementado para México)\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"employee_id","in":"path","description":"ID del Colaborador a actualizar.","required":true,"type":"string"},{"name":"id","in":"path","description":"ID del plan a actualizar.","required":true,"type":"string"},{"name":"Plan","in":"body","description":"Objeto de tipo plan","required":true,"schema":{"$ref":"#/definitions/PlanInputCountry"}}],"responses":{"201":{"description":"Como respuesta recibimos un arreglo (data) con la información del plan actualizado","schema":{"properties":{"data":{"$ref":"#/definitions/PlanResponseCountry"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{id}/jobs":{"get":{"summary":"Mostrar trabajos de un Colaborador","description":"Retorna la información de los trabajos asociados a un Colaborador.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","description":"ID del Colaborador a consultar.","required":true,"type":"string"}],"responses":{"200":{"description":"Un arreglo (data) con la información de los trabajos asociados al Colaborador.","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/JobResponseCountry"}}}}}}},"post":{"summary":"Añadir un trabajo a Colaborador","description":"Crea un nuevo trabajo para el Colaborador en el sistema\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","in":"path","description":"ID del Colaborador a consultar.","required":true,"type":"string"},{"name":"Job","in":"body","description":"Objeto de tipo job","required":true,"schema":{"$ref":"#/definitions/JobInputCountryPost"}}],"responses":{"201":{"description":"Como respuesta recibimos un arreglo (data) con la información del trabajo creado","schema":{"properties":{"data":{"$ref":"#/definitions/JobResponseCountry"}}}},"409":{"description":"Se están intentando actualizar registros de forma concurrente.","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{employee_id}/jobs/{id}":{"patch":{"summary":"Actualizar un trabajo a un Colaborador","description":"Crea un nuevo trabajo para el Colaborador en el sistema\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"employee_id","in":"path","description":"ID del Colaborador a actualizar.","required":true,"type":"string"},{"name":"id","in":"path","description":"ID del trabajo a actualizar.","required":true,"type":"string"},{"name":"Job","in":"body","description":"Objeto de tipo job","required":true,"schema":{"$ref":"#/definitions/JobInputCountry"}}],"responses":{"201":{"description":"Como respuesta recibimos un arreglo (data) con la información del trabajo actualizado","schema":{"properties":{"data":{"$ref":"#/definitions/JobResponseCountry"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/jobs/{id}/terminate":{"patch":{"summary":"Termina el trabajo con id entregado.","description":"\nTermina el trabajo del id entregado. Requiere fecha de término y razón de término (a menos que sea contrato a honorarios). Los parámetros son:\n- end_date: Fecha de término del trabajo.\n- termination_reason: Razón de término del trabajo. Las razones aceptadas son:\n\n\"Chile: [\"mutuo_acuerdo\", \"renuncia\", \"muerte\", \"vencimiento_plazo\", \"fin_servicio\", \"caso_fortuito\", \"falta_probidad\", \"acoso_sexual\", \"vias_de_hecho\", \"injurias\", \"conducta_inmoral\", \"acoso_laboral\", \"negociaciones_prohibidas\", \"no_concurrencia\", \"abandonar_trabajo\", \"faltas_seguridad\", \"perjuicio_material\", \"incumplimiento\", \"necesidades_empresa\", \"desahucio_gerente\"]\"\n\n\"Perú: [\"renuncia\", \"renuncia_con_incentivos\", \"despido\", \"cese_colectivo\", \"jubilacion\", \"invalidez_absoluta_permanente\", \"terminacion_de_la_obra\", \"mutuo_disenso\", \"fallecimiento\", \"sucesion_en_posicion_empleador\", \"extincion_o_liquidacion_empleador\", \"no_se_inicio_relacion_laboral\", \"limite_edad\", \"injustificado\"]\"\n\n\"México: [\"renuncia_voluntaria\", \"muerte\", \"causa_imputable_patron\", \"despido_injustificado\", \"despido_justificado\", \"terminacion_natural\", \"incapacidad_permanente\", \"invalidez_trabajador\", \"reajuste_maquina\", \"clausura\", \"abandono_empleo\", \"ausentismo\", \"jubilacion\", \"otras\"]\"\n\n\"Colombia: [\"renuncia_voluntaria\", \"causa_justa_empleador\", \"termino_mutuo_acuerdo\", \"vencimiento_plazo\", \"termino_obra\", \"termino_sentencia\", \"muerte\", \"termino_abandono\", \"sustitucion_patronal\", \"abandono_cargo\", \"decision_unilateral\"]\"\n\n- comment: Comentario interno del término del trabajo (OPCIONAL)\n- employee_final_state: Estado final del Colaborador, por defecto queda inactivo: [\"pendiente\", \"inactivo\"] (OPCIONAL)\n- notice_date: Fecha de aviso de término de trabajo en YYYY-MM-DD, en caso de no agregar este campo se considerará el end_date. (OPCIONAL)\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura y Modificación'.\n","tags":["Trabajos"],"parameters":[{"name":"id","in":"path","type":"integer","description":"ID del trabajo a terminar."},{"name":"Job","in":"body","description":"Objeto de tipo Job actualizado","required":true,"schema":{"$ref":"#/definitions/JobTerminateInput"}}],"responses":{"200":{"description":"Como respuesta se recibe el trabajo del Colaborador que ha terminado correctamente.","schema":{"properties":{"data":{"$ref":"#/definitions/JobResponseCountry"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{employee_id}/jobs/{job_id}/cost_centers":{"patch":{"summary":"Actualizar centro de costos en un trabajo a un Colaborador","description":"Se reemplazan los centros de costos de un trabajo, es decir, se borran los existentes y se agregan los nuevos.\n\n\n\nRecuerda que los pesos deben sumar 100.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"employee_id","in":"path","type":"integer"},{"name":"job_id","in":"path","type":"integer"},{"name":"cost center","in":"body","required":true,"schema":{"properties":{"cost_centers_attributes":{"type":"array","items":{"properties":{"weight":{"type":"number","description":"Peso"},"cost_center":{"type":"string","description":"Centro de costos"}}}}}}}],"responses":{"201":{"description":"Como respuesta se recibe la información de los centros de costos del trabajo actualizados","schema":{"properties":{"data":{"properties":{"job_id":{"type":"integer"},"employee_id":{"type":"integer"},"cost_center":{"type":"string"},"cost_centers":{"$ref":"#/definitions/CostCenterModel"}}}}}}}}},"/jobs/{id}/undo":{"post":{"summary":"Deshacer el último movimiento y vuelve al trabajo anterior","description":"Deshacer el último movimiento y vuelve al trabajo anterior\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura y Modificación'.\n","tags":["Trabajos"],"parameters":[{"name":"id","in":"path","description":"ID del job a consultar.","required":true,"type":"string"}],"responses":{"201":{"description":"Como respuesta recibimos la información del trabajo restaurado","schema":{"properties":{"data":{"$ref":"#/definitions/JobResponseCountry"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/jobs/{id}/undo_terminate":{"patch":{"summary":"Anulación de término","description":"Anula el término de un trabajo.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura y Modificación'.\n","tags":["Trabajos"],"parameters":[{"name":"id","in":"path","description":"ID del job a anular.","required":true,"type":"string"}],"responses":{"200":{"description":"Como respuesta recibimos la información del trabajo restaurado","schema":{"properties":{"data":{"$ref":"#/definitions/JobResponseCountry"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{id}/docs":{"post":{"summary":"Añadir un documento a empleado","description":"Recibimos un documento, el cual estará relacionado al empleado.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos para subir documentos en: 'Sí'.\n","tags":["Colaboradores","Documentos"],"parameters":[{"name":"id","in":"path","type":"integer","required":true,"description":"ID del empleado a consultar."},{"name":"file","in":"formData","description":"Documento a cargar.","required":false,"type":"file"},{"name":"file_base64","in":"formData","description":"Documento (codificado en base64) a cargar.\n\nSe debe enviar como JSON un objeto compuesto por los siguientes atributos:\n- content: Contenido codificado en base64.\n- filename: Nombre que tendrá el documento cargado junto con la extensión (ejm: filename.pdf).\n","required":false,"schema":{"type":"object","$ref":"#/definitions/EmployeeFileBase64"}},{"name":"visible","in":"query","type":"boolean","enum":[true,false],"description":"Visible por el empleado. Por defecto: false"},{"name":"signable_by_employee","in":"query","type":"boolean","enum":[true,false],"description":"Requiere la firma del empleado. Por defecto: false"},{"name":"signable_by_legal_agent","in":"query","type":"boolean","enum":[true,false],"description":"Requiere la firma del representante legal. Por defecto: false"},{"name":"signable_by_second_legal_agent","in":"query","type":"boolean","enum":[true,false],"description":"Requiere la firma de un segundo representante legal. Por defecto: false"},{"name":"overwrite","in":"query","type":"boolean","enum":[true,false],"description":"Sobreescribir archivo. Aplica solo para documentos que no tengan todas las firmas requeridas. Por defecto: false"},{"name":"start_signature_workflow","in":"query","type":"boolean","enum":[true,false],"description":"Iniciar flujo de firma automático. El documento debe estar visible y debe tener requisitos de firmas o revisión para seleccionar esta opción. Por defecto: false"},{"name":"path","in":"query","description":"Ruta donde se guardará el archivo. Si se deja en blanco se creará en la carpeta raíz del empleado. Ejemplo: personales/seguridad","required":false,"type":"string"},{"name":"signatures","in":"query","description":"Arreglo de objetos de tipo firma. Es un parámetro opcional, si se utiliza este no se tomarán en cuenta los otros parámetros relacionados con la firma.","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/DocumentSignature"}}},{"name":"reviewer_id","in":"query","description":"Id del person del revisor. Es un parámetro opcional, si no quieres asignar revisor deja este campo vacío","required":false,"type":"integer"}],"consumes":["multipart/form-data"],"responses":{"201":{"description":"Respuesta de la api ante la creación de documentos.","schema":{"properties":{"employee_id":{"type":"integer"},"employee_file":{"$ref":"#/definitions/EmployeeFileDetail"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}},"get":{"summary":"Obtener documentos de empleado","description":"Se obtiene información de los documentos del empleado según los filtros de fecha ingresados\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos para ver y descargar documentos de empleados en: 'Sí'.\n","tags":["Colaboradores","Documentos"],"parameters":[{"name":"id","in":"path","type":"integer","required":true,"description":"ID del empleado a consultar."},{"name":"from","in":"query","type":"string","format":"date","description":"Desde - Rango de fechas de la creación del documento. Ejemplo: 2020/12/10"},{"name":"to","in":"query","type":"string","format":"date","description":"Hasta - Rango de fechas de la creación del documento. Ejemplo 2020/12/11"}],"responses":{"200":{"description":"Como respuesta recibimos un arreglo con los documentos del empleado","schema":{"type":"array","items":{"$ref":"#/definitions/EmployeeFileListDetail"}}}}}},"/employees/{id}/docs/{file_id}":{"get":{"summary":"Obtiene un documento de empleado","description":"Los file ids posibles están en el endpoint GET `/employees/{id}/docs`.\n\nSe devuelve la redirección del documento de file_id ingresado, por lo que hay que seguirla.\n\n* Para seguir la redirección se añade la opción `-L`\n* Para guardar la respuesta en un archivo se debe agregar la opción `-o` y pasarle el nombre del archivo\n\n**Example**\n```curl -L -X GET --header 'Accept: */*' --header 'auth_token: [AUTH TOKEN]' 'http://www.[COMPANY SUBDOMAIN].buk.cl/api/v1/employees/1/docs/1156' -o [NOMBRE ARCHIVO]```\n\nPrueba con `curl`, el botón Pruébalo no funciona para documentos.\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos para ver y descargar documentos de empleados en: 'Sí'.\n","tags":["Colaboradores","Documentos"],"parameters":[{"name":"id","in":"path","description":"ID del empleado","required":true,"type":"string"},{"name":"file_id","in":"path","description":"ID del documento","required":true,"type":"string"}],"responses":{"200":{"description":"Como respuesta recibimos un documento de empleado","schema":{"$ref":"#/definitions/EmployeeFileDetail"}}}}},"/docs/{id}":{"get":{"tags":["Colaboradores","Documentos"],"summary":"Obtener especificaciones de un documento","description":"Recibe un id de un documento, y entrega las especificaciones asociadas a dicho documento.\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos para ver y descargar documentos de empleados en: 'Sí'.\n","parameters":[{"name":"id","in":"path","description":"ID del documento","type":"integer","required":true}],"responses":{"200":{"description":"Como respuesta recibimos un documento de empleado","schema":{"properties":{"employee_id":{"type":"integer"},"employee_file":{"$ref":"#/definitions/EmployeeFileDetail"}}}}}}},"/docs/{id}/signatures/process":{"post":{"summary":"Iniciar flujo de firma de un documento","tags":["Documentos"],"description":"Recibimos un id de documento, y se inicia el flujo de firma. Si el documento ya había comenzado el flujo de firma, se retorna un error con estado 409.\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos para subir documentos en: 'Sí'.\n","parameters":[{"name":"id","in":"path","description":"ID del documento","required":true,"type":"integer"}]}},"/docs/{id}/signatures":{"put":{"summary":"Asignar firmantes a un documento","description":"Recibimos las firmas o revisor a asignar. Solo se realizarán cambios sobre los parámetros que sean enviados.\n- En el caso de las firmas:\n\n  Recibimos el tipo de firma a asignar, este puede ser un string de la siguiente lista:\n  - employee_signature\n  - legal_agent_signature\n  - second_legal_agent_signature\n  - supervisor_signature\n  - other_signature\n  - second_other_signature    \n\n  Junto con un id de persona válido con usuario. En caso de elegir tipo de firma legal_agent_signature\n  o second_legal_agent_signature el id de la persona debe ser un representante legal configurado. En caso de elegir tipo de firma employee_signature o supervisor_signature, no es necesario agregar el id de la persona.\n\n  Si se quiere agregar un orden a las firmas se debe agregar dentro de cada firma el atributo \"position\". Donde se debe indicar el orden de las firmas a asignar con valores numéricos desde el 1 hasta el número de firmas, estos valores no se pueden repetir. En caso de no querer un orden para las firmas no se debe enviar el atributo \"position\".\n  \n  Para eliminar las firmas de un documento se debe enviar una lista vacía.\n\n- En el caso del revisor:\n\n  Recibimos el id del person del revisor, este para ser válido debe contar con un usuario activo y al menos un trabajo activo. Para eliminar a un revisor debes enviar null en el campo.\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos para ver y descargar documentos de empleados en: 'Sí'.\n\nSi estás reasignando un firmante a un documento generado desde una plantilla, esta no será modificada. La reasignación aplicará solo para el documento seleccionado y este se cargará nuevamente con el contenido actual de la plantilla.\n","tags":["Documentos"],"parameters":[{"name":"id","in":"path","description":"ID del documento","required":true,"type":"integer"},{"name":"Especificaciones de firma","in":"body","description":"Objeto de especificaciones de firma","required":true,"schema":{"$ref":"#/definitions/Signature"}}],"responses":{"201":{"description":"Como respuesta recibimos la información de las firmas y el revisor del documento.","schema":{"properties":{"employee_file_id":{"$ref":"#/definitions/Signature"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/payroll_detail/month":{"get":{"summary":"Listar Liquidaciones","description":"Retorna todas las Liquidaciones del mes indicado.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura' o 'Lectura y Modificación'.\n* Permitir ver información sensible en: 'Sí'.\n\n","tags":["Liquidaciones"],"parameters":[{"name":"date","in":"query","type":"string","format":"date","description":"La fecha en la que deben extraer las Liquidaciones de lo Colaboradores (Formato DD-MM-YYYY)"},{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"}],"responses":{"200":{"description":"Como respuesta recibimos todo el detalle de las Liquidaciones del mes consultado","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/Settlement"}}}}}}}},"/payroll_detail/semi_month":{"get":{"summary":"Listar Liquidaciones","description":"Retorna todas las Liquidaciones de la quincena indicada.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura' o 'Lectura y Modificación'.\n* Permitir ver información sensible en: 'Sí'.\n\n","tags":["Liquidaciones"],"parameters":[{"name":"date","in":"query","type":"string","format":"date","description":"La fecha en la que deben extraer las Liquidaciones de lo Colaboradores (Formato DD-MM-YYYY)"},{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"}],"responses":{"200":{"description":"Como respuesta recibimos todo el detalle de las Liquidaciones de la quincena consultada","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/Settlement"}}}}}}}},"/payroll_detail/week":{"get":{"summary":"Listar Liquidaciones","description":"Retorna todas las Liquidaciones de la semana indicada.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura' o 'Lectura y Modificación'.\n* Permitir ver información sensible en: 'Sí'.\n\n","tags":["Liquidaciones"],"parameters":[{"name":"date","in":"query","type":"string","format":"date","description":"La fecha en la que deben extraer las Liquidaciones de lo Colaboradores (Formato DD-MM-YYYY)"},{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"}],"responses":{"200":{"description":"Como respuesta recibimos todo el detalle de las Liquidaciones de la semana consultada","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/Settlement"}}}}}}}},"/employees/{employee_id}/payroll_detail":{"get":{"summary":"Mostar detalle del Colaborador","description":"Recibimos la id o rut del Colaborador y rango de fecha opcional\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura' o 'Lectura y Modificación'.\n* Permitir ver información sensible en: 'Sí'.\n\n","tags":["Liquidaciones"],"parameters":[{"name":"employee_id","in":"path","type":"string","description":"ID o RUT del postulante por el cual se está consultando. El RUT solo es permitido sin puntos, puede ser con o sin el caracter de guión.","required":true},{"name":"period_type","in":"query","type":"string","format":"date","description":"Tipo de periodo por el que quieres consultar, puede ser weekly, semi_monthly o monthly. Es monthly por defecto."},{"name":"start","in":"query","type":"string","format":"date","description":"Fecha de inicio de la liquidacion (Formato DD-MM-YYYY)"},{"name":"end","in":"query","type":"string","format":"date","description":"Fecha de término de la liquidacion (Formato DD-MM-YYYY)"},{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"}],"responses":{"200":{"description":"Como respuesta recibimos todo el detalle del Colaborador consultado","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"nationality":{"type":"string"},"civil_status":{"type":"string"},"private_role":{"type":"boolean"},"code_sheet":{"type":"string"},"pension_regime":{"type":"string"},"pension_fund":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/definitions/Settlement"}}}}}}}},"/employees/{id}/statements/{year}-{month}.pdf":{"get":{"summary":"Archivo de la Liquidación","description":"Obtiene el archivo pdf de la Liquidación del Colaborador asociada a un mes y año dado.\nObtiene el archivo pdf de la Liquidación del Colaborador asociada a un mes y año dado.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura' o 'Lectura y Modificación'.\n* Permitir ver información sensible en: 'Sí'.\n","tags":["Liquidaciones"],"parameters":[{"name":"id","in":"path","type":"integer","description":"Identificador del Colaborador","required":true},{"name":"year","in":"path","type":"integer","description":"Año consultado","required":true},{"name":"month","in":"path","type":"integer","description":"Mes consultado (1 - 12)","required":true}],"responses":{"200":{"description":"Retorna la información de la Liquidación PDF correspondiente al mes.\""},"400":{"description":"La petición enviada no cumple con el formato adecuado","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"404":{"description":"No existe información para el mes y año ingresados","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}}}}},"/vacations":{"get":{"summary":"Listar vacaciones","description":"Retorna todas las vacaciones aprobadas en el sistema, como parámetro (opcional) recibe la fecha (en formato YYYY-MM-DD) de inicio de las vacaciones.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de vacaciones en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Vacaciones"],"parameters":[{"name":"date","in":"query","type":"string","format":"date","description":"(OPCIONAL) La fecha en la cual deben iniciar las vacaciones en YYYY-MM-DD"},{"name":"end_date","in":"query","type":"string","format":"date","description":"(OPCIONAL) Busca las vacaciones que empezaron antes de una fecha en YYYY-MM-DD"},{"name":"end_after","in":"query","type":"string","format":"date","description":"(OPCIONAL) Busca las vacaciones que terminaron despues de una fecha en YYYY-MM-DD"},{"name":"start_before","in":"query","type":"string","format":"date","description":"(OPCIONAL) Busca las vacaciones que empezaron antes de una fecha en YYYY-MM-DD"},{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"}],"responses":{"200":{"description":"Como respuesta recibimos un arreglo (data) con la información particular de las vacaciones","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/Vacation"}}}}}}},"post":{"summary":"Crear una vacacion","description":"Crea una nueva vacación en el sistema. Los parámetros son:\n\n- employee_id : Id del empleado\n- start_date : Fecha de inicio del periodo de vacaciones en formato YYYY-MM-DD\n- end_date : Fecha de término del periodo de vacaciones en formato YYYY-MM-DD\n- type: Corresponde al tipo de vacaciones, puede ser: legales, progresivas o dias_administrativos (en caso de estar activadas).\n- percent_day : Corresponde a la fracción del último día del periodo de vacaciones que se considera como tal.\n  Mayor a 0 y menor o igual a 1. Se envía 1 para indicar que el último día es completo\n- workday_stage : Indica la parte de la jornada que será parcial si es que percent_day es distinto de 1.\n  Puede ser start_working_day si es al inicio de la jornada o end_working_day si es al final. Si percent_day\n  es 1, sólo puede ser full_working_day. Este campo es opcional. Si no se envía se asignará automáticamente a\n  partir del valor de percent_day (full_working_day si es 1 o start_working_day si es menor).\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de vacaciones en: 'Lectura y Modificación'.\n\n","tags":["Vacaciones"],"parameters":[{"name":"vacation","in":"body","description":"Parámetros de una vacación","required":true,"schema":{"$ref":"#/definitions/approved_vacation"}}],"responses":{"201":{"description":"Respuesta en caso de haber creado una vacación de forma exitosa","schema":{"properties":{"vacation":{"$ref":"#/definitions/vacation_detail"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}},"delete":{"summary":"Borrar una vacación","description":"Borrar una vacación específica de acuerdo a el id del empleado, fecha inicio y fecha de término.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de vacaciones en: 'Lectura y Modificación'.\n\n","tags":["Vacaciones"],"parameters":[{"name":"employee_id","in":"query","description":"ID del empleado","required":true,"type":"integer"},{"name":"start_date","in":"query","description":"Fecha de inicio de la vacación","required":true,"type":"string"},{"name":"end_date","in":"query","description":"Fecha de término de la vacación","required":true,"type":"string"}],"responses":{"200":{"description":"Se entrega un mensaje de que el recurso ha sido eliminado exitosamente","schema":{"properties":{"message":{"type":"string"}}}},"404":{"description":"No se ha podido encontrar la vacación con los campos requeridos","name":"errors","schema":{"properties":{"errors":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/vacations/{id}":{"get":{"summary":"Mostrar una vacación","description":"Se muestran toda la información relacionada a vacación solicitada.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de vacaciones en: 'Lectura' o 'Lectura y Modificación'.\n\n","tags":["Vacaciones"],"parameters":[{"name":"id","in":"path","description":"ID de la vacación a consultar","required":true,"type":"string"}],"responses":{"200":{"description":"Como respuesta recibimos todos los campos correspondiente a la información del empleado consultado","schema":{"properties":{"data":{"$ref":"#/definitions/Vacation"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/vacations/business_days":{"get":{"summary":"Mostrar cantidad de días hábiles","description":"Recibimos el rango fechas a calcular.\n\nEste endpoint no requiere permisos especiales.\n\n","tags":["Vacaciones"],"parameters":[{"name":"start_date","in":"query","type":"string","format":"date","required":true,"description":"Fecha de inicio (inclusive, formato YYYY-MM-DD)"},{"name":"end_date","in":"query","type":"string","format":"date","required":true,"description":"Fecha de término (inclusive, formato YYYY-MM-DD)"}],"responses":{"200":{"description":"Como respuesta recibimos la cantidad de días hábiles en el rango de fecha dado","name":"business_days","schema":{"properties":{"business_days":{"type":"number"}}}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/vacations/requested":{"get":{"summary":"Listar Vacaciones","description":"Retorna todas las vacaciones aprobadas en el sistema, como parámetro (opcional) recibe la fecha (en formato YYYY-MM-DD) de inicio de las vacaciones.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de vacaciones en: 'Lectura' o 'Lectura y Modificación'.\n","tags":["Vacaciones"],"parameters":[{"name":"date","in":"query","type":"string","format":"date","description":"(OPCIONAL) La fecha en la cual deben iniciar las vacaciones en YYYY-MM-DD"},{"name":"end_date","in":"query","type":"string","format":"date","description":"(OPCIONAL) La fecha tope del periodo de consulta de las vacaciones en YYYY-MM-DD"},{"name":"end_after","in":"query","type":"string","format":"date","description":"(OPCIONAL) Busca las vacaciones que terminaron después de una fecha en YYYY-MM-DD"},{"name":"start_before","in":"query","type":"string","format":"date","description":"(OPCIONAL) Busca las vacaciones que empezaron antes de una fecha en YYYY-MM-DD"},{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"},{"name":"status","description":"(OPCIONAL) Busca las vacaciones que tienen como status algunos de los valores permitidos (submitted, approved, rejected, pre_approved, signature_required)","in":"query","type":"string","enum":["submitted","approved","rejected","pre_approved","signature_required"]}],"responses":{"200":{"description":"Como respuesta recibimos un arreglo (data) con la información particular de las vacaciones.","name":"data","schema":{"properties":{"pagination":{"$ref":"#/definitions/Pagination"},"data":{"type":"array","items":{"$ref":"#/definitions/Vacation"}}}}}}}},"/employees/{id}/vacation_definitions":{"get":{"summary":"Listar políticas de vacaciones asociadas al empleados","description":"Retorna un array con las políticas de vacaciones asociadas a un empleados.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura'.\n* Permisos de vacaciones en: 'Lectura'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","description":"Id del empleados","in":"path","type":"integer","required":true}],"responses":{"200":{"description":"Como respuesta recibimos un listado con las políticas de vacaciones asociadas al empleados.","schema":{"$ref":"#/definitions/VacationDefinitionOutput"}},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}},"post":{"summary":"Asignar una política de vacación al empleados","description":"Asignar una política de vacación al empleados. Los parametros son:\n- employee_id : (OBLIGATORIO) Id del empleados\n- body : (OBLIGATORIO) JSON con el código de la política de vacaciones a asignar.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura y Modificación'.\n* Permisos de vacaciones en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","description":"Id del empleados","in":"path","type":"integer","required":true},{"name":"VacationConfigDefinition","in":"body","description":"Objeto con el código de la política a asignar.","required":true,"schema":{"$ref":"#/definitions/VacationDefinitionInput"}}],"responses":{"201":{"description":"Como respuesta recibimos un mensaje de confirmación."},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/employees/{id}/vacation_definitions/{code}":{"delete":{"summary":"Desasigna una política de vacación del empleado","description":"Desasignar una política de vacaciones para un empleado. Los párametros son:\n- employee_id : (OBLIGATORIO) Id del empleados\n- code : (OBLIGATORIO) Code de la política de vacaciones a desasignar.\n- date : (OPCIONAL) Fecha de desasignación en formato YYYY-MM-DD. Si no se envía, se usa la fecha de hoy.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de empleados en: 'Lectura y Modificación'.\n* Permisos de vacaciones en: 'Lectura y Modificación'.\n","tags":["Colaboradores"],"parameters":[{"name":"id","description":"Id del empleado","in":"path","type":"integer","required":true},{"name":"code","description":"Código de la política de vacaciones.","in":"path","type":"string","required":true},{"name":"date","description":"Fecha de desasignación (formato YYYY-MM-DD). Si no se envía, se usa la fecha de hoy.","in":"query","type":"string","format":"date","required":false}],"responses":{"200":{"description":"Como respuesta recibimos un mensaje de confirmación."},"400":{"description":"Existe un error con los datos enviados","schema":{"$ref":"#/definitions/bad_request"}}}}},"/vacation_definitions":{"get":{"summary":"Listar Políticas de Vacaciones","description":"Retorna todas las políticas de vacaciones y su tipo de vacación asociado.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permisos de vacaciones en: 'Lectura'.\n","tags":["Políticas de vacaciones"],"parameters":[{"name":"page_size","in":"query","type":"integer","description":"(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]"},{"name":"page","in":"query","type":"integer","description":"(OPCIONAL) Nro de página"}],"responses":{"200":{"description":"Como respuesta recib
[...]
